In [55]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn
% matplotlib inline

In [56]:
# Removed un-needed columns from original dataset, use data
data = pd.read_csv("data.csv")

In [57]:
data.head()

,FIO_ID,STREET_ID,DIST_ID,PRIORS,CLOTHING,COMPLEXION,FIOFS_TYPE,TERRORISM,SEARCH,BASIS,...,VEH_MODEL,VEH_OCCUPANT,SUPERVISOR_ID,OFFICER_ID,OFF_DIST_ID,ETHNICITY,RACE_ID,FIO_DATE_CORRECTED,SEX,AGE
0,621880,3274,3,YES,"blk jacket, blk shirt, blue jeans, wht sneakers",Med,IOFS,NO,VP,CONSENT SEARCH,...,max,DRIVER,10132.0,98656,9999,NaN,2,12/10/2013 12:00:00 AM,0,59
1,565177,543,1,NO,"GRY. SWEATSHIRT, BLUE JEANS",Med,IO,NO,NaN,REASONABLE SUSPICION,...,NaN,NaN,8949.0,9765,1,NaN,4,05/24/2012 12:00:00 AM,0,26
2,565340,4493,5,YES,"GRY SWEATSHIRT, GRY PANTS",Dark,IOF,NO,NaN,NaN,...,NaN,NaN,11312.0,83575,16,NaN,2,06/04/2012 12:00:00 AM,0,18
3,653895,3094,3,YES,"lime green shirt, blue jeans",Med,IOFS,NO,NaN,NaN,...,NaN,NaN,9375.0,76146,25,NaN,2,06/21/2014 12:00:00 AM,0,24
4,566043,4241,3,YES,BLU DOWN VEST BLU PANTS,Light,IO,NO,P,REASONABLE SUSPICION,...,2DR,NaN,NaN,107106,3,NaN,2,12/02/2011 12:00:00 AM,0,70

In [23]:
outcome = data["OUTCOME"]

In [ ]:
"""
TODOs:

Ignore (for now):
-FIO_ID
-Supervisor, officer ID (and officer district ID)

Convert to numbers:
-SEX - DONE (0 = "MALE", 1 = "FEMALE", -1 = "UNKNOWN")
-PRIORS - DONE (0 = "NO", 1 = "YES", -1 = "UNKNOWN" or NaN)
-COMPLEXION
-FIOFS_TYPE
-TERRORISM
-SEARCH
-BASIS
-STOP_REASONS
-FIOFS_REASONS
-ETHNICITY
- VEH_OCCUPANT - DONE (0 = "DRIVER", 1 = "PASSENGER", -1 = NaN)

One-hot-encode + clean:
-CLOTHING
-VEHICLE
"""

In [25]:
original = pd.read_csv("Boston_Police_Department_FIO.csv")

In [34]:
"""
Sample code for adding column
"""
#from shutil import move
#import csv
#from tempfile import NamedTemporaryFile
#with open('data.csv') as csvfile, NamedTemporaryFile("w", dir='.', delete=False) as temp:
#    r = csv.reader(csvfile)
#    wr = csv.writer(temp, delimiter=',')
#    for row, new in zip(r, a):
#        wr.writerow(row + [new])
#move(temp.name, "data.csv")

In [81]:
"""
Sample code for deleting column
"""
#delete = ["VEH_OCCUPANT"]
#with open("data.csv") as infile, open("data1.csv", "wb") as outfile:
#    r = csv.DictReader(infile)
#    firstrow = next(r)
#    fields = r.fieldnames
#    w = csv.DictWriter(outfile, [field for field in fields if not field in delete],
#                      extrasaction="ignore")
#   w.writeheader()
#    w.writerow(firstrow)
#    for row in r:
#        w.writerow(row)

In [96]:
data.head()

,FIO_ID,STREET_ID,DIST_ID,PRIORS,CLOTHING,COMPLEXION,FIOFS_TYPE,TERRORISM,SEARCH,BASIS,...,VEH_MODEL,SUPERVISOR_ID,OFFICER_ID,OFF_DIST_ID,ETHNICITY,RACE_ID,FIO_DATE_CORRECTED,SEX,AGE,VEH_OCCUPANT
0,621880,3274,3,YES,"blk jacket, blk shirt, blue jeans, wht sneakers",Med,IOFS,NO,VP,CONSENT SEARCH,...,max,10132.0,98656,9999,NaN,2,12/10/2013 12:00:00 AM,0,59,0
1,565177,543,1,NO,"GRY. SWEATSHIRT, BLUE JEANS",Med,IO,NO,NaN,REASONABLE SUSPICION,...,NaN,8949.0,9765,1,NaN,4,05/24/2012 12:00:00 AM,0,26,-1
2,565340,4493,5,YES,"GRY SWEATSHIRT, GRY PANTS",Dark,IOF,NO,NaN,NaN,...,NaN,11312.0,83575,16,NaN,2,06/04/2012 12:00:00 AM,0,18,-1
3,653895,3094,3,YES,"lime green shirt, blue jeans",Med,IOFS,NO,NaN,NaN,...,NaN,9375.0,76146,25,NaN,2,06/21/2014 12:00:00 AM,0,24,-1
4,566043,4241,3,YES,BLU DOWN VEST BLU PANTS,Light,IO,NO,P,REASONABLE SUSPICION,...,2DR,NaN,107106,3,NaN,2,12/02/2011 12:00:00 AM,0,70,-1

In [98]:
p = ["PRIORS"]
for d in data["PRIORS"]:
    if d == "YES":
        p.append(1)
    elif d == "NO":
        p.append(0)
    else:
        p.append(-1)

In [99]:
p

['PRIORS',
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 -1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 -1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 -1,
 -1,
 1,
 -1,
 1,
 1,
 1,
 -1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 -1,
 -1,
 0,
 1,
 1,
 1,
 1,
 -1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 -1,
 -1,
 1,
 1,
 1,
 -1,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 -1,
 0,
 1,
 0,
 -1,
 -1,
 1,
 -1,
 0,
 0,
 1,
 1,
 -1,
 -1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 -1,
 -1,
 1,
 1,
 -1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 -1,
 1,
 1,
 1,
 1,
 1,
 0,
 -1,
 1,
 1,
 -1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 -1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 -1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 -1,
 1,
 -1,
 0,
 1,
 0,
 1,
 -1,
 1,
 1,
 -1,
 -1,
 1,
 1,
 1,
 0,
 -1,
 1,
 1,
 1,
 1,
 1,
 -1,
 -1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 -1,
 1,
 -1,
 0,
 1,
 -1,
 1,
 0,
 1,
 1,
 1,
 1,
 -1,
 1,
 1,
 1,
 -1,
 -1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 -1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 -1,
 1,
 -1,
 -1,
 1,
 -1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 -1,
 -1,
 1,
 -1,
 -1,
 1,
 1,
 1,
 -1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 -1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 -1,
 0,
 1,
 1,
 1,
 -1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 -1,
 -1,
 1,
 1,
 1,
 -1,
 1,
 1,
 1,
 1,
 1,
 -1,
 -1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 -1,
 1,
 -1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 -1,
 -1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 -1,
 -1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 -1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 -1,
 -1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 -1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 -1,
 1,
 -1,
 -1,
 -1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 -1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 -1,
 1,
 1,
 -1,
 1,
 1,
 0,
 1,
 1,
 -1,
 1,
 0,
 1,
 0,
 1,
 -1,
 -1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 -1,
 -1,
 1,
 -1,
 1,
 1,
 1,
 1,
 1,
 -1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 -1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 -1,
 1,
 1,
 1,
 1,
 -1,
 -1,
 1,
 1,
 1,
 0,
 -1,
 1,
 1,
 1,
 1,
 1,
 1,
 -1,
 1,
 1,
 1,
 1,
 -1,
 1,
 -1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 -1,
 1,
 1,
 1,
 1,
 0,
 1,
 -1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 -1,
 1,
 1,
 1,
 1,
 -1,
 0,
 1,
 1,
 0,
 1,
 -1,
 1,
 1,
 -1,
 1,
 -1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 -1,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 -1,
 1,
 0,
 1,
 0,
 1,
 1,
 -1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 -1,
 1,
 1,
 1,
 1,
 -1,
 1,
 1,
 1,
 1,
 -1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 -1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 -1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 -1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 -1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 -1,
 0,
 1,
 -1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 -1,
 1,
 0,
 1,
 -1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 -1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 -1,
 0,
 0,
 -1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 -1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 -1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 -1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 -1,
 1,
 -1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 -1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 -1,
 1,
 -1,
 1,
 -1,
 0,
 -1,
 1,
 1,
 1,
 1,
 0,
 -1,
 1,
 -1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 -1,
 1,
 1,
 1,
 1,
 1,
 0,
 -1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 -1,
 1,
 1,
 1,
 -1,
 0,
 1,
 0,
 1,
 1,
 -1,
 1,
 1,
 -1,
 ...]

In [100]:
delete = ["PRIORS"]
with open("data.csv") as infile, open("data1.csv", "wb") as outfile:
    r = csv.DictReader(infile)
    firstrow = next(r)
    fields = r.fieldnames
    w = csv.DictWriter(outfile, [field for field in fields if not field in delete],
                      extrasaction="ignore")
    w.writeheader()
    w.writerow(firstrow)
    for row in r:
        w.writerow(row)

In [101]:
from shutil import move
import csv
from tempfile import NamedTemporaryFile
with open('data1.csv') as csvfile, NamedTemporaryFile("w", dir='.', delete=False) as temp:
    r = csv.reader(csvfile)
    wr = csv.writer(temp, delimiter=',')
    for row, new in zip(r, p):
        wr.writerow(row + [new])
move(temp.name, "data.csv")

In [103]:
data = pd.read_csv("data.csv")

In [104]:
data.head()

,FIO_ID,STREET_ID,DIST_ID,CLOTHING,COMPLEXION,FIOFS_TYPE,TERRORISM,SEARCH,BASIS,STOP_REASONS,...,SUPERVISOR_ID,OFFICER_ID,OFF_DIST_ID,ETHNICITY,RACE_ID,FIO_DATE_CORRECTED,SEX,AGE,VEH_OCCUPANT,PRIORS
0,621880,3274,3,"blk jacket, blk shirt, blue jeans, wht sneakers",Med,IOFS,NO,VP,CONSENT SEARCH,INVESTIGATIVE,...,10132.0,98656,9999,NaN,2,12/10/2013 12:00:00 AM,0,59,0,1
1,565177,543,1,"GRY. SWEATSHIRT, BLUE JEANS",Med,IO,NO,NaN,REASONABLE SUSPICION,RADIO CALL,...,8949.0,9765,1,NaN,4,05/24/2012 12:00:00 AM,0,26,-1,0
2,565340,4493,5,"GRY SWEATSHIRT, GRY PANTS",Dark,IOF,NO,NaN,NaN,OTHER (SPECIFY),...,11312.0,83575,16,NaN,2,06/04/2012 12:00:00 AM,0,18,-1,1
3,653895,3094,3,"lime green shirt, blue jeans",Med,IOFS,NO,NaN,NaN,INVESTIGATIVE,...,9375.0,76146,25,NaN,2,06/21/2014 12:00:00 AM,0,24,-1,1
4,566043,4241,3,BLU DOWN VEST BLU PANTS,Light,IO,NO,P,REASONABLE SUSPICION,INVESTIGATIVE,...,NaN,107106,3,NaN,2,12/02/2011 12:00:00 AM,0,70,-1,1