In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn
% matplotlib inline

In [3]:
data = pd.read_csv("Boston_Police_Department_FIO.csv")

In [4]:
data.head()

,SEQ_NUM,FIO_ID,SEX,LOCATION,DIST,DIST_ID,FIO_DATE,FIO_TIME,PRIORS,DESCRIPTION,...,OFF_DIST_ID,OFF_DIST,OFFICER,ETHNICITY,FIRST_INSERTTIME,RACE_ID,RACE_DESC,AGE_AT_FIO_CORRECTED,STREET_ID,CITY
0,938283,621880,MALE,NORMANDY ST at SUPPLE RD,B2,3,12/10/13 0:00,12/10/13 0:00,YES,B(Black),...,9999,OTHER,Liam P Hawkins,NaN,1/30/14 0:00,2,B(Black),59,3274,NO DATA ENTERED
1,881897,565177,MALE,75 BOYLSTON ST,A1,1,5/24/12 0:00,5/24/12 0:00,NO,W(White),...,1,A1,EDWARD J MACPHERSON,NaN,6/6/12 0:00,4,W(White),26,543,OTHER
2,882060,565340,MALE,5 TOPLIFF ST,C11,5,6/4/12 0:00,6/4/12 0:00,YES,B(Black),...,16,YVSF,James Conley,NaN,6/7/12 0:00,2,B(Black),18,4493,NO DATA ENTERED
3,971623,653895,MALE,170 MORTON ST,B2,3,6/21/14 0:00,6/21/14 0:00,YES,B(Black),...,25,BIKE,BENJAMIN MILLER,NaN,11/24/14 0:00,2,B(Black),24,3094,Dorchester
4,882761,566043,MALE,0 ST ALPHONSUS ST,B2,3,12/2/10 0:00,12/2/10 0:00,YES,B(Black),...,3,B2,James O'Loughlin,NaN,6/13/12 0:00,2,B(Black),70,4241,Dorchester

In [11]:
outcome = data["TERRORISM"]
for row in outcome:
    if row == "YES":
        print yes
print outcome

NameError: name 'yes' is not defined