In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn
import csv
% matplotlib inline

In [61]:
# Removed un-needed columns from original dataset, use data
data = pd.read_csv("data.csv")
# replace NaN with "Missing"
data = pd.DataFrame.fillna(data,value="Missing")
data.head()

,FIO_ID,SEX,DIST_ID,PRIORS,CLOTHING,COMPLEXION,FIOFS_TYPE,SEARCH,BASIS,STOP_REASONS,...,OFFICER_ID,OFF_DIST_ID,RACE_ID,AGE_AT_FIO_CORRECTED,TERRORISM,VEH_STATE,VEH_MAKE,FIOFS_REASONS,FIO_DATE_CORRECTED,DELTA
0,621880,MALE,3,YES,"blk jacket, blk shirt, blue jeans, wht sneakers",Med,IOFS,VP,CONSENT SEARCH,INVESTIGATIVE,...,98656,9999,2,59,0,MA,NISSAN,DRUGS,2013-12-10 00:00:00,1074
1,565177,MALE,1,NO,"GRY. SWEATSHIRT, BLUE JEANS",Med,IO,Missing,REASONABLE SUSPICION,RADIO CALL,...,9765,1,4,26,0,NO DATA ENTERED,NO DATA ENTERED,DRUGS,2012-05-24 00:00:00,509
2,565340,MALE,5,YES,"GRY SWEATSHIRT, GRY PANTS",Dark,IOF,Missing,Missing,OTHER (SPECIFY),...,83575,16,2,18,0,NO DATA ENTERED,NO DATA ENTERED,"INVESTIGATE, PERSON",2012-06-04 00:00:00,520
3,653895,MALE,3,YES,"lime green shirt, blue jeans",Med,IOFS,Missing,Missing,INVESTIGATIVE,...,76146,25,2,24,0,NO DATA ENTERED,NO DATA ENTERED,ABDW,2014-06-21 00:00:00,1267
4,566043,MALE,3,YES,BLU DOWN VEST BLU PANTS,Light,IO,P,REASONABLE SUSPICION,INVESTIGATIVE,...,107106,3,2,70,0,MA,SATURN,VAL,2011-12-02 00:00:00,335

In [35]:
encoded_data = pd.get_dummies(data, columns=["SEX","PRIORS","VEH_OCCUPANT","DIST_ID","COMPLEXION","FIOFS_TYPE","SEARCH","BASIS","STOP_REASONS","RACE_ID","VEH_COLOR","VEH_STATE","VEH_MAKE","FIOFS_REASONS","OUTCOME"])
encoded_data.head()
#data = pd.get_dummies(data, columns=["FIOFS_TYPE", "SEARCH", "BASIS", "STOP_REASONS", "RACE_ID"]).head()

,FIO_ID,CLOTHING,VEH_YEAR_NUM,VEH_MODEL,SUPERVISOR_ID,OFFICER_ID,OFF_DIST_ID,AGE_AT_FIO_CORRECTED,TERRORISM,FIO_DATE_CORRECTED,...,FIOFS_REASONS_VANDALISM,FIOFS_REASONS_WARRANT,OUTCOME_F,OUTCOME_FO,OUTCOME_Missing,OUTCOME_O,OUTCOME_S,OUTCOME_SF,OUTCOME_SFO,OUTCOME_SO
0,621880,"blk jacket, blk shirt, blue jeans, wht sneakers",2012,max,10132,98656,9999,59,0,2013-12-10 00:00:00,...,0,0,0,0,0,0,0,0,1,0
1,565177,"GRY. SWEATSHIRT, BLUE JEANS",0,Missing,8949,9765,1,26,0,2012-05-24 00:00:00,...,0,0,1,0,0,0,0,0,0,0
2,565340,"GRY SWEATSHIRT, GRY PANTS",0,Missing,11312,83575,16,18,0,2012-06-04 00:00:00,...,0,0,1,0,0,0,0,0,0,0
3,653895,"lime green shirt, blue jeans",0,Missing,9375,76146,25,24,0,2014-06-21 00:00:00,...,0,0,0,0,0,0,1,0,0,0
4,566043,BLU DOWN VEST BLU PANTS,2001,2DR,Missing,107106,3,70,0,2011-12-02 00:00:00,...,0,0,1,0,0,0,0,0,0,0

In [ ]:
#len(data) = 152230, <150 or 1500
from collections import Counter
z = list(data["FIOFS_REASONS"])
Counter(z)

In [ ]:
v = ["FIOFS_REASONS"]
a = ['209A INTIMIDATION OF WITNESS/VICTIM','209A, A&B','209A, ABDW','209A, ADW','209A, ASSAULT','209A, ASSAULT WITH INTENT TO MURDER', '209A, B&E, (D/T)',
    '209A, B&E, (N/T)','209A, CHILD ABUSE', '209A, CUSTODY DISPUTE','209A, ELDERLY ABUSE','209A, HARASSMENT (TELEPHONE)',
    '209A, LARCENY','209A, MALICIOUS DESTRUCTION PROPERTY','209A, SEARCH WARRANT','209A, STALKING', '209A, THREATS', '209A, VANDALISM', '209A, VERBAL DISPUTE', '209A, VIO. RESTRAINING ORDER','209A, WARRANT']
ab = ['A&B','A&B PO', 'A&B, PUBLIC SERVANT']
alcohol = ['ALCOHOL, MINOR','ALCOHOL, PARK', 'ALCOHOL, PUBLIC DRINKING', 'ALCOHOL, SALE','PUBLIC DRINKING','OUI, ALCOHOL']
assault = ['ASSAULT', 'ASSAULT WITH INTENT TO COMMIT FELONY', 'ASSAULTW/I TO MURDER']
be = ['ATTEMPTED B&E','B&E, MV', 'B&E, NON-RESIDENCE - DAY','B&E, NON-RESIDENCE - NIGHT', 'B&E, RESIDENCE - DAY', 'B&E, RESIDENCE - NIGHT']
city = ['CITY ORDINANCE OTHER,' 'CITY ORDINANCE, NOISE','CITY ORDINANCES, HACKNEY','CITY ORDINANCES, HAWKERS']
disorderly = ['DISORDERLY','DISORDERLY/NOISYHOUSE']
drugs = ['DRUGS, CONSPIRACY','DRUGS, FOUND','DRUGS, INVESTIGATION','DRUGS, OVERDOSE','DRUGS, POSSESSION','DRUGS, SALE','DRUGS, SCHOOL ZONE','DRUGS, TRAFFICKING','OUI, DRUGS']
firearm = ['FIREARM, CARRYING', 'FIREARM, DISCHARGING', 'FIREARM, MACHINE GUN- POSSESSION','FIREARM, POSSESSION', 'FIREARM, SAWED OFF- POSSESSION', 'FIREARM, TURNED IN']
larceny = ['LARCENY OF LEASED OR RENTED PROPERTY', 'LARCENY, BIKE', 'LARCENY, BUILDING', 'LARCENY, CHECK','LARCENY, CREDIT CARD','LARCENY, FARE EVASION','LARCENY, FROM MV','LARCENY, MV',
          'LARCENY, NOTEBOOK COMPUTER', 'LARCENY, OVER','LARCENY, PERSON', 'LARCENY, PREMISES PERSONAL PROPERTY', 'LARCENY, SAFE', 'LARCENY, SCHEME','LARCENY, SHOPLIFTING','LARCENY, UNDER']
mv = ['MV ACCIDENT','MV ACCIDENT, DEPT VEHICLE', 'MV ACCIDENT, INJURY', 'MV ACCIDENT, PED']
prostitution = ['PROSTITUTION, COMMON NIGHT WALKER', 'PROSTITUTION, DERIVING SUPPORT','PROSTITUTION, SEX FOR FEE']
robbery = ['ROBBERY, ARMED COMMERCIAL','ROBBERY, ARMED COMMERCIAL BANK','ROBBERY, ARMED PERSON','ROBBERY, HANDBAG','ROBBERY, OVER 65','ROBBERY, UNARMED COMMERCIAL','ROBBERY, UNARMED PERSON',
          'ROBBERY,ATTEMPT,ARMED COMMERCIAL','ROBBERY,ATTEMPT,ARMED PERSON','ROBBERY,ATTEMPT,UNARMED COMMERCIAL','ROBBERY,ATTEMPT,UNARMED PERSON']
sex = ['SEX-ASSAULT, INCEST','SEX-ASSAULT, INDECENT A&B (14 + )', 'SEX-ASSAULT, INDECENT A&B (UNDER 14)','SEX-ASSAULT, RAPE','SEX-ASSAULT, RAPE & ABUSE, UNDER 16 STATUTORY RAPE', 'SEX-ASSAULT, RAPE (AGGRAVATED)','SEX-ASSAULT, RAPE (ATTEMPT)','SEX-ASSAULT, RAPE OF CHILD BY FORCE','SEX-ASSAULT, SEARCH WARRANT EXECUTED', 'SEX-ASSAULT, UNCONFIRMED OR UNKNOWN']
warrant = ['WARRANT ARREST', 'WARRANTS, RUNAWAY, CHINS,ETC00','WARRANTS, SEARCH', 'ARREST WARRANT EXECUTION']
keep = ['DISTURBANCE','GUNSHOTS','INVESTIGATE, MV','INVESTIGATE, PERSON','INVESTIGATE, PREMISES','INVESTIGATE, PROPERTY','TRESPASSING','VAL','PANHANDLING','AFFRAY','DISPUTE','LOUD PARTY','ABDW','INJURED PERSON','STOLEN MV','THREATS','VANDALISM']
for state in data["FIOFS_REASONS"]:
    if state in a:
        v.append("209A")
    elif state in ab:
        v.append("A&B")
    elif state in alcohol:
        v.append("ALCOHOL")
    elif state in assault:
        v.append("ASSAULT")
    elif state in be:
        v.append("B&E")
    elif state in city:
        v.append("CITY ORDINANCE")
    elif state in disorderly:
        v.append("DISORDERLY")
    elif state in drugs:
        v.append("DRUGS")
    elif state in firearm:
        v.append("FIREARM")
    elif state in larceny:
        v.append("LARCENY")
    elif state in mv:
        v.append("MV ACCIDENT")
    elif state in prostitution:
        v.append("PROSTITUTION")
    elif state in robbery:
        v.append("ROBBERY")
    elif state in sex:
        v.append("SEX-ASSAULT")
    elif state in warrant:
        v.append("WARRANT")
    elif state in keep:
        v.append(state)
    else:
        v.append("OTHER")
v

In [60]:
from shutil import move
from tempfile import NamedTemporaryFile
with open('data.csv') as csvfile, NamedTemporaryFile("w", dir='.', delete=False) as temp:
    r = csv.reader(csvfile)
    wr = csv.writer(temp, delimiter=',')
    for row, new in zip(r, chrono):
        wr.writerow(row + [new])
move(temp.name,"data.csv")

In [32]:
delete = ["FIO_DATE_CORRECTED"]
with open("data.csv") as infile, open("data1.csv", "wb") as outfile:
    r = csv.DictReader(infile)
    firstrow = next(r)
    fields = r.fieldnames
    w = csv.DictWriter(outfile, [field for field in fields if not field in delete],
                      extrasaction="ignore")
    w.writeheader()
    w.writerow(firstrow)
    for row in r:
        w.writerow(row)

In [34]:
"""
Sample code for adding column
"""
#from shutil import move
#import csv
#from tempfile import NamedTemporaryFile
#with open('data.csv') as csvfile, NamedTemporaryFile("w", dir='.', delete=False) as temp:
#    r = csv.reader(csvfile)
#    wr = csv.writer(temp, delimiter=',')
#    for row, new in zip(r, a):
#        wr.writerow(row + [new])
#move(temp.name, "data.csv")

In [81]:
"""
Sample code for deleting column
"""
#delete = ["VEH_OCCUPANT"]
#with open("data.csv") as infile, open("data1.csv", "wb") as outfile:
#    r = csv.DictReader(infile)
#    firstrow = next(r)
#    fields = r.fieldnames
#    w = csv.DictWriter(outfile, [field for field in fields if not field in delete],
#                      extrasaction="ignore")
#   w.writeheader()
#    w.writerow(firstrow)
#    for row in r:
#        w.writerow(row)

In [37]:
data.dtypes

FIO_ID                   int64
SEX                     object
DIST_ID                  int64
PRIORS                  object
CLOTHING                object
COMPLEXION              object
FIOFS_TYPE              object
SEARCH                  object
BASIS                   object
STOP_REASONS            object
OUTCOME                 object
VEH_YEAR_NUM            object
VEH_COLOR               object
VEH_MODEL               object
VEH_OCCUPANT            object
SUPERVISOR_ID           object
OFFICER_ID               int64
OFF_DIST_ID              int64
RACE_ID                  int64
AGE_AT_FIO_CORRECTED     int64
TERRORISM                int64
VEH_STATE               object
VEH_MAKE                object
FIOFS_REASONS           object
FIO_DATE_CORRECTED      object
dtype: object

In [23]:
import time
from datetime import datetime, date, time, timedelta
ts = pd.Series(np.random.rand(len(data["FIO_DATE_CORRECTED"])), index=data["FIO_DATE_CORRECTED"])
# Convert an element to appropriate Timestamp object
# http://pandas.pydata.org/pandas-docs/stable/timeseries.html
pd.to_datetime('12/10/2013 12:00:00 AM')
#2011 - 2015 ~60 months
# 1) practices might have changed over time -> months 1-60 from start of dataset
# 2) season
# pandas delta time from the first one
# http://pandas.pydata.org/pandas-docs/stable/timedeltas.html

Timestamp('2013-12-10 00:00:00')

In [59]:
(pd.to_datetime(data["FIO_DATE_CORRECTED"][0])-pd.to_datetime('2011-01-01 00:00:00')).days

1074

In [ ]:
spring = ["SPRING"]
summer = ["SUMMER"]
fall = ["FALL"]
winter = ["WINTER"]

In [50]:
d[1:]

[Timestamp('2013-12-10 00:00:00'),
 Timestamp('2012-05-24 00:00:00'),
 Timestamp('2012-06-04 00:00:00'),
 Timestamp('2014-06-21 00:00:00'),
 Timestamp('2011-12-02 00:00:00'),
 Timestamp('2012-06-09 00:00:00'),
 Timestamp('2013-08-03 00:00:00'),
 Timestamp('2013-08-31 00:00:00'),
 Timestamp('2013-08-31 00:00:00'),
 Timestamp('2013-08-31 00:00:00'),
 Timestamp('2013-08-30 00:00:00'),
 Timestamp('2012-05-30 00:00:00'),
 Timestamp('2012-11-02 00:00:00'),
 Timestamp('2012-11-02 00:00:00'),
 Timestamp('2012-11-08 00:00:00'),
 Timestamp('2014-06-26 00:00:00'),
 Timestamp('2012-11-03 00:00:00'),
 Timestamp('2012-11-08 00:00:00'),
 Timestamp('2012-06-12 00:00:00'),
 Timestamp('2012-06-04 00:00:00'),
 Timestamp('2012-06-11 00:00:00'),
 Timestamp('2011-12-07 00:00:00'),
 Timestamp('2013-04-11 00:00:00'),
 Timestamp('2013-04-08 00:00:00'),
 Timestamp('2013-04-18 00:00:00'),
 Timestamp('2013-04-22 00:00:00'),
 Timestamp('2013-04-08 00:00:00'),
 Timestamp('2012-06-02 00:00:00'),
 Timestamp('2012-05-23 00:00:00'),
 Timestamp('2011-11-23 00:00:00'),
 Timestamp('2012-05-24 00:00:00'),
 Timestamp('2014-02-10 00:00:00'),
 Timestamp('2014-02-02 00:00:00'),
 Timestamp('2012-05-29 00:00:00'),
 Timestamp('2014-02-11 00:00:00'),
 Timestamp('2014-02-11 00:00:00'),
 Timestamp('2014-02-12 00:00:00'),
 Timestamp('2012-07-22 00:00:00'),
 Timestamp('2012-07-20 00:00:00'),
 Timestamp('2012-07-21 00:00:00'),
 Timestamp('2012-07-20 00:00:00'),
 Timestamp('2012-07-20 00:00:00'),
 Timestamp('2014-05-26 00:00:00'),
 Timestamp('2014-05-22 00:00:00'),
 Timestamp('2014-06-26 00:00:00'),
 Timestamp('2014-05-27 00:00:00'),
 Timestamp('2012-06-13 00:00:00'),
 Timestamp('2012-06-13 00:00:00'),
 Timestamp('2012-06-05 00:00:00'),
 Timestamp('2012-05-31 00:00:00'),
 Timestamp('2012-06-06 00:00:00'),
 Timestamp('2012-06-07 00:00:00'),
 Timestamp('2012-06-18 00:00:00'),
 Timestamp('2012-05-17 00:00:00'),
 Timestamp('2012-05-17 00:00:00'),
 Timestamp('2012-06-25 00:00:00'),
 Timestamp('2012-05-15 00:00:00'),
 Timestamp('2012-05-15 00:00:00'),
 Timestamp('2012-06-02 00:00:00'),
 Timestamp('2012-06-27 00:00:00'),
 Timestamp('2013-05-30 00:00:00'),
 Timestamp('2013-05-22 00:00:00'),
 Timestamp('2013-06-14 00:00:00'),
 Timestamp('2012-09-07 00:00:00'),
 Timestamp('2012-06-11 00:00:00'),
 Timestamp('2012-06-10 00:00:00'),
 Timestamp('2015-03-17 00:00:00'),
 Timestamp('2012-05-15 00:00:00'),
 Timestamp('2012-05-14 00:00:00'),
 Timestamp('2012-06-06 00:00:00'),
 Timestamp('2012-06-04 00:00:00'),
 Timestamp('2012-06-06 00:00:00'),
 Timestamp('2012-01-22 00:00:00'),
 Timestamp('2012-06-09 00:00:00'),
 Timestamp('2012-06-07 00:00:00'),
 Timestamp('2012-03-08 00:00:00'),
 Timestamp('2012-06-24 00:00:00'),
 Timestamp('2012-06-07 00:00:00'),
 Timestamp('2012-05-24 00:00:00'),
 Timestamp('2012-06-06 00:00:00'),
 Timestamp('2012-06-09 00:00:00'),
 Timestamp('2012-06-01 00:00:00'),
 Timestamp('2012-03-08 00:00:00'),
 Timestamp('2012-06-02 00:00:00'),
 Timestamp('2011-09-24 00:00:00'),
 Timestamp('2012-06-05 00:00:00'),
 Timestamp('2012-05-16 00:00:00'),
 Timestamp('2012-06-04 00:00:00'),
 Timestamp('2012-05-14 00:00:00'),
 Timestamp('2012-06-01 00:00:00'),
 Timestamp('2013-06-16 00:00:00'),
 Timestamp('2013-06-14 00:00:00'),
 Timestamp('2012-05-17 00:00:00'),
 Timestamp('2013-06-13 00:00:00'),
 Timestamp('2013-06-17 00:00:00'),
 Timestamp('2012-06-04 00:00:00'),
 Timestamp('2012-05-30 00:00:00'),
 Timestamp('2012-05-24 00:00:00'),
 Timestamp('2013-05-30 00:00:00'),
 Timestamp('2012-06-28 00:00:00'),
 Timestamp('2015-03-01 00:00:00'),
 Timestamp('2012-06-08 00:00:00'),
 Timestamp('2015-03-14 00:00:00'),
 Timestamp('2015-03-25 00:00:00'),
 Timestamp('2015-03-25 00:00:00'),
 Timestamp('2015-03-24 00:00:00'),
 Timestamp('2012-05-30 00:00:00'),
 Timestamp('2012-07-15 00:00:00'),
 Timestamp('2012-06-29 00:00:00'),
 Timestamp('2012-06-29 00:00:00'),
 Timestamp('2012-06-29 00:00:00'),
 Timestamp('2012-06-19 00:00:00'),
 Timestamp('2012-01-06 00:00:00'),
 Timestamp('2012-01-19 00:00:00'),
 Timestamp('2012-06-18 00:00:00'),
 Timestamp('2012-06-18 00:00:00'),
 Timestamp('2012-01-19 00:00:00'),
 Timestamp('2012-06-20 00:00:00'),
 Timestamp('2012-06-22 00:00:00'),
 Timestamp('2012-06-14 00:00:00'),
 Timestamp('2012-06-22 00:00:00'),
 Timestamp('2012-06-14 00:00:00'),
 Timestamp('2012-06-19 00:00:00'),
 Timestamp('2012-06-19 00:00:00'),
 Timestamp('2012-01-06 00:00:00'),
 Timestamp('2013-08-03 00:00:00'),
 Timestamp('2012-06-09 00:00:00'),
 Timestamp('2013-08-03 00:00:00'),
 Timestamp('2013-08-03 00:00:00'),
 Timestamp('2013-08-03 00:00:00'),
 Timestamp('2013-08-03 00:00:00'),
 Timestamp('2013-08-12 00:00:00'),
 Timestamp('2013-09-04 00:00:00'),
 Timestamp('2012-05-18 00:00:00'),
 Timestamp('2013-09-06 00:00:00'),
 Timestamp('2013-08-31 00:00:00'),
 Timestamp('2013-09-06 00:00:00'),
 Timestamp('2014-07-18 00:00:00'),
 Timestamp('2014-07-18 00:00:00'),
 Timestamp('2014-07-18 00:00:00'),
 Timestamp('2014-07-18 00:00:00'),
 Timestamp('2014-07-18 00:00:00'),
 Timestamp('2011-12-01 00:00:00'),
 Timestamp('2012-07-21 00:00:00'),
 Timestamp('2012-05-21 00:00:00'),
 Timestamp('2012-05-29 00:00:00'),
 Timestamp('2012-05-29 00:00:00'),
 Timestamp('2012-06-01 00:00:00'),
 Timestamp('2012-06-21 00:00:00'),
 Timestamp('2012-01-25 00:00:00'),
 Timestamp('2012-01-28 00:00:00'),
 Timestamp('2012-01-03 00:00:00'),
 Timestamp('2012-06-19 00:00:00'),
 Timestamp('2012-06-06 00:00:00'),
 Timestamp('2012-01-27 00:00:00'),
 Timestamp('2012-06-06 00:00:00'),
 Timestamp('2015-04-27 00:00:00'),
 Timestamp('2015-04-25 00:00:00'),
 Timestamp('2015-04-25 00:00:00'),
 Timestamp('2014-08-19 00:00:00'),
 Timestamp('2014-08-08 00:00:00'),
 Timestamp('2014-09-08 00:00:00'),
 Timestamp('2014-09-03 00:00:00'),
 Timestamp('2012-06-04 00:00:00'),
 Timestamp('2012-06-07 00:00:00'),
 Timestamp('2012-06-10 00:00:00'),
 Timestamp('2012-05-25 00:00:00'),
 Timestamp('2012-07-05 00:00:00'),
 Timestamp('2012-06-19 00:00:00'),
 Timestamp('2012-07-06 00:00:00'),
 Timestamp('2012-05-13 00:00:00'),
 Timestamp('2012-01-11 00:00:00'),
 Timestamp('2012-10-12 00:00:00'),
 Timestamp('2012-08-29 00:00:00'),
 Timestamp('2012-08-29 00:00:00'),
 Timestamp('2012-08-29 00:00:00'),
 Timestamp('2013-08-23 00:00:00'),
 Timestamp('2012-01-14 00:00:00'),
 Timestamp('2013-08-18 00:00:00'),
 Timestamp('2013-08-23 00:00:00'),
 Timestamp('2013-08-23 00:00:00'),
 Timestamp('2012-06-14 00:00:00'),
 Timestamp('2014-12-05 00:00:00'),
 Timestamp('2014-12-05 00:00:00'),
 Timestamp('2014-12-05 00:00:00'),
 Timestamp('2014-12-02 00:00:00'),
 Timestamp('2012-06-25 00:00:00'),
 Timestamp('2012-06-26 00:00:00'),
 Timestamp('2012-06-23 00:00:00'),
 Timestamp('2012-06-23 00:00:00'),
 Timestamp('2012-06-26 00:00:00'),
 Timestamp('2014-12-05 00:00:00'),
 Timestamp('2012-01-18 00:00:00'),
 Timestamp('2012-06-19 00:00:00'),
 Timestamp('2012-06-10 00:00:00'),
 Timestamp('2012-06-04 00:00:00'),
 Timestamp('2014-06-21 00:00:00'),
 Timestamp('2014-10-21 00:00:00'),
 Timestamp('2014-10-21 00:00:00'),
 Timestamp('2014-09-01 00:00:00'),
 Timestamp('2011-12-08 00:00:00'),
 Timestamp('2012-06-04 00:00:00'),
 Timestamp('2014-04-19 00:00:00'),
 Timestamp('2014-04-19 00:00:00'),
 Timestamp('2014-04-20 00:00:00'),
 Timestamp('2014-04-13 00:00:00'),
 Timestamp('2012-06-02 00:00:00'),
 Timestamp('2012-06-15 00:00:00'),
 Timestamp('2014-04-19 00:00:00'),
 Timestamp('2014-09-01 00:00:00'),
 Timestamp('2011-09-24 00:00:00'),
 Timestamp('2014-04-19 00:00:00'),
 Timestamp('2011-09-29 00:00:00'),
 Timestamp('2012-08-12 00:00:00'),
 Timestamp('2012-05-07 00:00:00'),
 Timestamp('2012-05-25 00:00:00'),
 Timestamp('2012-07-08 00:00:00'),
 Timestamp('2012-06-20 00:00:00'),
 Timestamp('2015-03-24 00:00:00'),
 Timestamp('2015-03-24 00:00:00'),
 Timestamp('2015-03-24 00:00:00'),
 Timestamp('2015-03-24 00:00:00'),
 Timestamp('2015-03-24 00:00:00'),
 Timestamp('2013-05-03 00:00:00'),
 Timestamp('2013-05-03 00:00:00'),
 Timestamp('2013-05-03 00:00:00'),
 Timestamp('2013-05-03 00:00:00'),
 Timestamp('2013-07-05 00:00:00'),
 Timestamp('2014-04-14 00:00:00'),
 Timestamp('2012-06-21 00:00:00'),
 Timestamp('2014-04-19 00:00:00'),
 Timestamp('2014-04-14 00:00:00'),
 Timestamp('2012-06-20 00:00:00'),
 Timestamp('2014-04-14 00:00:00'),
 Timestamp('2013-05-10 00:00:00'),
 Timestamp('2013-05-18 00:00:00'),
 Timestamp('2013-05-14 00:00:00'),
 Timestamp('2013-05-16 00:00:00'),
 Timestamp('2013-05-16 00:00:00'),
 Timestamp('2014-04-16 00:00:00'),
 Timestamp('2012-06-13 00:00:00'),
 Timestamp('2012-06-02 00:00:00'),
 Timestamp('2012-06-15 00:00:00'),
 Timestamp('2012-01-21 00:00:00'),
 Timestamp('2012-06-08 00:00:00'),
 Timestamp('2014-04-24 00:00:00'),
 Timestamp('2014-04-22 00:00:00'),
 Timestamp('2012-06-08 00:00:00'),
 Timestamp('2014-03-06 00:00:00'),
 Timestamp('2014-04-24 00:00:00'),
 Timestamp('2014-04-22 00:00:00'),
 Timestamp('2012-06-17 00:00:00'),
 Timestamp('2012-06-15 00:00:00'),
 Timestamp('2012-06-17 00:00:00'),
 Timestamp('2012-06-15 00:00:00'),
 Timestamp('2012-01-29 00:00:00'),
 Timestamp('2012-06-22 00:00:00'),
 Timestamp('2012-06-22 00:00:00'),
 Timestamp('2012-06-22 00:00:00'),
 Timestamp('2014-04-02 00:00:00'),
 Timestamp('2012-06-22 00:00:00'),
 Timestamp('2012-06-01 00:00:00'),
 Timestamp('2012-06-01 00:00:00'),
 Timestamp('2012-05-20 00:00:00'),
 Timestamp('2012-05-20 00:00:00'),
 Timestamp('2012-06-08 00:00:00'),
 Timestamp('2012-06-17 00:00:00'),
 Timestamp('2012-01-21 00:00:00'),
 Timestamp('2012-06-15 00:00:00'),
 Timestamp('2012-06-13 00:00:00'),
 Timestamp('2012-01-03 00:00:00'),
 Timestamp('2012-08-08 00:00:00'),
 Timestamp('2012-09-15 00:00:00'),
 Timestamp('2012-10-22 00:00:00'),
 Timestamp('2012-07-29 00:00:00'),
 Timestamp('2012-06-17 00:00:00'),
 Timestamp('2012-06-07 00:00:00'),
 Timestamp('2013-04-17 00:00:00'),
 Timestamp('2013-04-18 00:00:00'),
 Timestamp('2013-04-14 00:00:00'),
 Timestamp('2013-04-13 00:00:00'),
 Timestamp('2013-04-14 00:00:00'),
 Timestamp('2012-06-14 00:00:00'),
 Timestamp('2012-06-14 00:00:00'),
 Timestamp('2012-01-25 00:00:00'),
 Timestamp('2012-01-26 00:00:00'),
 Timestamp('2012-06-04 00:00:00'),
 Timestamp('2011-12-07 00:00:00'),
 Timestamp('2012-05-19 00:00:00'),
 Timestamp('2012-06-05 00:00:00'),
 Timestamp('2012-06-05 00:00:00'),
 Timestamp('2014-08-13 00:00:00'),
 Timestamp('2014-08-13 00:00:00'),
 Timestamp('2014-08-13 00:00:00'),
 Timestamp('2014-08-13 00:00:00'),
 Timestamp('2014-08-13 00:00:00'),
 Timestamp('2012-01-23 00:00:00'),
 Timestamp('2014-05-27 00:00:00'),
 Timestamp('2014-05-24 00:00:00'),
 Timestamp('2014-05-27 00:00:00'),
 Timestamp('2014-05-27 00:00:00'),
 Timestamp('2014-05-24 00:00:00'),
 Timestamp('2012-06-19 00:00:00'),
 Timestamp('2012-05-29 00:00:00'),
 Timestamp('2012-01-23 00:00:00'),
 Timestamp('2012-06-19 00:00:00'),
 Timestamp('2014-12-05 00:00:00'),
 Timestamp('2014-12-02 00:00:00'),
 Timestamp('2014-12-05 00:00:00'),
 Timestamp('2014-12-01 00:00:00'),
 Timestamp('2014-12-01 00:00:00'),
 Timestamp('2012-05-11 00:00:00'),
 Timestamp('2012-06-18 00:00:00'),
 Timestamp('2012-05-17 00:00:00'),
 Timestamp('2012-06-13 00:00:00'),
 Timestamp('2012-06-19 00:00:00'),
 Timestamp('2014-08-11 00:00:00'),
 Timestamp('2012-06-01 00:00:00'),
 Timestamp('2012-05-16 00:00:00'),
 Timestamp('2012-06-19 00:00:00'),
 Timestamp('2012-01-25 00:00:00'),
 Timestamp('2012-06-24 00:00:00'),
 Timestamp('2012-06-23 00:00:00'),
 Timestamp('2012-06-11 00:00:00'),
 Timestamp('2011-12-15 00:00:00'),
 Timestamp('2012-06-06 00:00:00'),
 Timestamp('2012-06-12 00:00:00'),
 Timestamp('2012-02-14 00:00:00'),
 Timestamp('2012-06-22 00:00:00'),
 Timestamp('2012-06-19 00:00:00'),
 Timestamp('2012-11-28 00:00:00'),
 Timestamp('2012-12-04 00:00:00'),
 Timestamp('2012-05-08 00:00:00'),
 Timestamp('2012-12-08 00:00:00'),
 Timestamp('2012-11-18 00:00:00'),
 Timestamp('2012-12-10 00:00:00'),
 Timestamp('2012-02-01 00:00:00'),
 Timestamp('2012-06-24 00:00:00'),
 Timestamp('2012-06-24 00:00:00'),
 Timestamp('2012-05-31 00:00:00'),
 Timestamp('2014-05-13 00:00:00'),
 Timestamp('2014-05-13 00:00:00'),
 Timestamp('2014-11-05 00:00:00'),
 Timestamp('2014-06-23 00:00:00'),
 Timestamp('2012-06-15 00:00:00'),
 Timestamp('2014-06-24 00:00:00'),
 Timestamp('2012-06-19 00:00:00'),
 Timestamp('2012-05-08 00:00:00'),
 Timestamp('2012-06-11 00:00:00'),
 Timestamp('2012-05-21 00:00:00'),
 Timestamp('2012-01-22 00:00:00'),
 Timestamp('2012-06-07 00:00:00'),
 Timestamp('2012-06-06 00:00:00'),
 Timestamp('2012-01-24 00:00:00'),
 Timestamp('2012-06-20 00:00:00'),
 Timestamp('2011-12-03 00:00:00'),
 Timestamp('2012-06-06 00:00:00'),
 Timestamp('2012-05-24 00:00:00'),
 Timestamp('2012-05-18 00:00:00'),
 Timestamp('2012-06-17 00:00:00'),
 Timestamp('2012-06-22 00:00:00'),
 Timestamp('2012-05-11 00:00:00'),
 Timestamp('2012-05-11 00:00:00'),
 Timestamp('2012-06-17 00:00:00'),
 Timestamp('2012-06-18 00:00:00'),
 Timestamp('2012-06-27 00:00:00'),
 Timestamp('2012-06-13 00:00:00'),
 Timestamp('2012-06-02 00:00:00'),
 Timestamp('2012-06-02 00:00:00'),
 Timestamp('2012-06-13 00:00:00'),
 Timestamp('2012-06-22 00:00:00'),
 Timestamp('2012-05-18 00:00:00'),
 Timestamp('2012-05-21 00:00:00'),
 Timestamp('2012-05-18 00:00:00'),
 Timestamp('2012-05-18 00:00:00'),
 Timestamp('2012-05-28 00:00:00'),
 Timestamp('2012-06-06 00:00:00'),
 Timestamp('2012-01-18 00:00:00'),
 Timestamp('2012-01-16 00:00:00'),
 Timestamp('2012-05-14 00:00:00'),
 Timestamp('2012-05-28 00:00:00'),
 Timestamp('2012-06-04 00:00:00'),
 Timestamp('2012-06-12 00:00:00'),
 Timestamp('2012-06-13 00:00:00'),
 Timestamp('2012-06-19 00:00:00'),
 Timestamp('2012-05-17 00:00:00'),
 Timestamp('2012-06-16 00:00:00'),
 Timestamp('2015-03-24 00:00:00'),
 Timestamp('2015-03-19 00:00:00'),
 Timestamp('2015-03-22 00:00:00'),
 Timestamp('2015-03-16 00:00:00'),
 Timestamp('2015-03-13 00:00:00'),
 Timestamp('2012-03-15 00:00:00'),
 Timestamp('2015-03-10 00:00:00'),
 Timestamp('2012-05-28 00:00:00'),
 Timestamp('2012-06-04 00:00:00'),
 Timestamp('2012-06-14 00:00:00'),
 Timestamp('2012-06-13 00:00:00'),
 Timestamp('2012-06-15 00:00:00'),
 Timestamp('2012-06-14 00:00:00'),
 Timestamp('2013-01-03 00:00:00'),
 Timestamp('2012-06-04 00:00:00'),
 Timestamp('2012-05-25 00:00:00'),
 Timestamp('2013-01-03 00:00:00'),
 Timestamp('2013-01-08 00:00:00'),
 Timestamp('2013-04-24 00:00:00'),
 Timestamp('2013-01-24 00:00:00'),
 Timestamp('2012-06-19 00:00:00'),
 Timestamp('2014-09-01 00:00:00'),
 Timestamp('2014-09-05 00:00:00'),
 Timestamp('2014-09-01 00:00:00'),
 Timestamp('2012-06-27 00:00:00'),
 Timestamp('2014-09-05 00:00:00'),
 Timestamp('2014-09-01 00:00:00'),
 Timestamp('2012-06-17 00:00:00'),
 Timestamp('2012-06-15 00:00:00'),
 Timestamp('2012-06-17 00:00:00'),
 Timestamp('2012-06-17 00:00:00'),
 Timestamp('2012-06-12 00:00:00'),
 Timestamp('2012-06-15 00:00:00'),
 Timestamp('2012-06-15 00:00:00'),
 Timestamp('2012-06-17 00:00:00'),
 Timestamp('2012-05-24 00:00:00'),
 Timestamp('2012-06-20 00:00:00'),
 Timestamp('2013-11-20 00:00:00'),
 Timestamp('2013-11-20 00:00:00'),
 Timestamp('2013-11-20 00:00:00'),
 Timestamp('2013-10-29 00:00:00'),
 Timestamp('2013-10-10 00:00:00'),
 Timestamp('2012-06-11 00:00:00'),
 Timestamp('2012-06-11 00:00:00'),
 Timestamp('2013-09-26 00:00:00'),
 Timestamp('2013-09-26 00:00:00'),
 Timestamp('2013-09-27 00:00:00'),
 Timestamp('2013-09-27 00:00:00'),
 Timestamp('2013-09-28 00:00:00'),
 Timestamp('2012-06-04 00:00:00'),
 Timestamp('2012-05-24 00:00:00'),
 Timestamp('2012-06-23 00:00:00'),
 Timestamp('2012-06-24 00:00:00'),
 Timestamp('2015-03-18 00:00:00'),
 Timestamp('2012-05-11 00:00:00'),
 Timestamp('2015-01-05 00:00:00'),
 Timestamp('2012-04-24 00:00:00'),
 Timestamp('2015-01-05 00:00:00'),
 Timestamp('2015-01-16 00:00:00'),
 Timestamp('2012-05-24 00:00:00'),
 Timestamp('2012-06-14 00:00:00'),
 Timestamp('2015-01-05 00:00:00'),
 Timestamp('2013-05-27 00:00:00'),
 Timestamp('2013-05-27 00:00:00'),
 Timestamp('2013-05-26 00:00:00'),
 Timestamp('2013-05-26 00:00:00'),
 Timestamp('2013-05-26 00:00:00'),
 Timestamp('2012-04-26 00:00:00'),
 Timestamp('2012-05-06 00:00:00'),
 Timestamp('2012-06-04 00:00:00'),
 Timestamp('2012-05-17 00:00:00'),
 Timestamp('2012-01-22 00:00:00'),
 Timestamp('2012-01-22 00:00:00'),
 Timestamp('2012-06-19 00:00:00'),
 Timestamp('2012-06-07 00:00:00'),
 Timestamp('2012-06-23 00:00:00'),
 Timestamp('2012-06-23 00:00:00'),
 Timestamp('2013-08-05 00:00:00'),
 Timestamp('2013-09-05 00:00:00'),
 Timestamp('2013-11-23 00:00:00'),
 Timestamp('2012-06-17 00:00:00'),
 Timestamp('2012-01-29 00:00:00'),
 Timestamp('2012-04-10 00:00:00'),
 Timestamp('2013-11-30 00:00:00'),
 Timestamp('2012-04-13 00:00:00'),
 Timestamp('2012-01-02 00:00:00'),
 Timestamp('2012-06-17 00:00:00'),
 Timestamp('2012-06-29 00:00:00'),
 Timestamp('2013-12-13 00:00:00'),
 Timestamp('2013-12-15 00:00:00'),
 Timestamp('2013-12-15 00:00:00'),
 Timestamp('2013-10-05 00:00:00'),
 Timestamp('2013-08-16 00:00:00'),
 Timestamp('2013-08-31 00:00:00'),
 Timestamp('2012-02-03 00:00:00'),
 Timestamp('2011-06-16 00:00:00'),
 Timestamp('2012-02-29 00:00:00'),
 Timestamp('2012-01-30 00:00:00'),
 Timestamp('2012-01-18 00:00:00'),
 Timestamp('2012-01-30 00:00:00'),
 Timestamp('2012-06-27 00:00:00'),
 Timestamp('2012-07-03 00:00:00'),
 Timestamp('2012-06-19 00:00:00'),
 Timestamp('2012-06-23 00:00:00'),
 Timestamp('2012-01-18 00:00:00'),
 Timestamp('2012-01-18 00:00:00'),
 Timestamp('2013-08-29 00:00:00'),
 Timestamp('2013-08-29 00:00:00'),
 Timestamp('2012-01-28 00:00:00'),
 Timestamp('2012-06-15 00:00:00'),
 Timestamp('2012-06-15 00:00:00'),
 Timestamp('2012-06-28 00:00:00'),
 Timestamp('2012-06-08 00:00:00'),
 Timestamp('2014-07-25 00:00:00'),
 Timestamp('2014-07-07 00:00:00'),
 Timestamp('2012-05-24 00:00:00'),
 Timestamp('2012-05-11 00:00:00'),
 Timestamp('2012-01-05 00:00:00'),
 Timestamp('2012-05-25 00:00:00'),
 Timestamp('2012-05-25 00:00:00'),
 Timestamp('2012-05-08 00:00:00'),
 Timestamp('2012-05-24 00:00:00'),
 Timestamp('2012-05-14 00:00:00'),
 Timestamp('2012-06-13 00:00:00'),
 Timestamp('2012-05-31 00:00:00'),
 Timestamp('2012-06-06 00:00:00'),
 Timestamp('2012-06-06 00:00:00'),
 Timestamp('2012-05-17 00:00:00'),
 Timestamp('2014-02-22 00:00:00'),
 Timestamp('2014-02-26 00:00:00'),
 Timestamp('2014-02-25 00:00:00'),
 Timestamp('2014-02-26 00:00:00'),
 Timestamp('2012-06-24 00:00:00'),
 Timestamp('2014-07-24 00:00:00'),
 Timestamp('2014-07-28 00:00:00'),
 Timestamp('2014-07-28 00:00:00'),
 Timestamp('2014-07-24 00:00:00'),
 Timestamp('2012-10-19 00:00:00'),
 Timestamp('2012-10-19 00:00:00'),
 Timestamp('2012-10-19 00:00:00'),
 Timestamp('2015-03-17 00:00:00'),
 Timestamp('2012-09-04 00:00:00'),
 Timestamp('2013-08-29 00:00:00'),
 Timestamp('2013-08-29 00:00:00'),
 Timestamp('2013-08-29 00:00:00'),
 Timestamp('2013-08-29 00:00:00'),
 Timestamp('2012-05-26 00:00:00'),
 Timestamp('2012-05-30 00:00:00'),
 Timestamp('2012-03-08 00:00:00'),
 Timestamp('2012-03-08 00:00:00'),
 Timestamp('2012-03-14 00:00:00'),
 Timestamp('2012-05-28 00:00:00'),
 Timestamp('2012-05-25 00:00:00'),
 Timestamp('2013-03-27 00:00:00'),
 Timestamp('2013-04-07 00:00:00'),
 Timestamp('2013-04-06 00:00:00'),
 Timestamp('2013-04-06 00:00:00'),
 Timestamp('2013-04-08 00:00:00'),
 Timestamp('2012-06-04 00:00:00'),
 Timestamp('2012-06-04 00:00:00'),
 Timestamp('2012-06-03 00:00:00'),
 Timestamp('2011-12-01 00:00:00'),
 Timestamp('2012-06-06 00:00:00'),
 Timestamp('2012-06-17 00:00:00'),
 Timestamp('2012-06-27 00:00:00'),
 Timestamp('2012-05-28 00:00:00'),
 Timestamp('2014-12-31 00:00:00'),
 Timestamp('2012-06-27 00:00:00'),
 Timestamp('2014-12-31 00:00:00'),
 Timestamp('2014-12-31 00:00:00'),
 Timestamp('2014-12-31 00:00:00'),
 Timestamp('2014-11-23 00:00:00'),
 Timestamp('2015-01-01 00:00:00'),
 Timestamp('2012-06-17 00:00:00'),
 Timestamp('2012-05-25 00:00:00'),
 Timestamp('2012-06-27 00:00:00'),
 Timestamp('2012-06-06 00:00:00'),
 Timestamp('2012-06-27 00:00:00'),
 Timestamp('2012-06-27 00:00:00'),
 Timestamp('2012-06-27 00:00:00'),
 Timestamp('2012-06-08 00:00:00'),
 Timestamp('2012-06-27 00:00:00'),
 Timestamp('2012-06-16 00:00:00'),
 Timestamp('2012-06-17 00:00:00'),

In [51]:
min(d[1:]) #earliest date

Timestamp('2011-01-01 00:00:00')

In [55]:
chrono = ["DELTA"]
for timestamp in d[1:]:
    chrono.append((timestamp-pd.to_datetime('2011-01-01 00:00:00')).days)

In [56]:
chrono

['DELTA',
 1074,
 509,
 520,
 1267,
 335,
 525,
 945,
 973,
 973,
 973,
 972,
 515,
 671,
 671,
 677,
 1272,
 672,
 677,
 528,
 520,
 527,
 340,
 831,
 828,
 838,
 842,
 828,
 518,
 508,
 326,
 509,
 1136,
 1128,
 514,
 1137,
 1137,
 1138,
 568,
 566,
 567,
 566,
 566,
 1241,
 1237,
 1272,
 1242,
 529,
 529,
 521,
 516,
 522,
 523,
 534,
 502,
 502,
 541,
 500,
 500,
 518,
 543,
 880,
 872,
 895,
 615,
 527,
 526,
 1536,
 500,
 499,
 522,
 520,
 522,
 386,
 525,
 523,
 432,
 540,
 523,
 509,
 522,
 525,
 517,
 432,
 518,
 266,
 521,
 501,
 520,
 499,
 517,
 897,
 895,
 502,
 894,
 898,
 520,
 515,
 509,
 880,
 544,
 1520,
 524,
 1533,
 1544,
 1544,
 1543,
 515,
 561,
 545,
 545,
 545,
 535,
 370,
 383,
 534,
 534,
 383,
 536,
 538,
 530,
 538,
 530,
 535,
 535,
 370,
 945,
 525,
 945,
 945,
 945,
 945,
 954,
 977,
 503,
 979,
 973,
 979,
 1294,
 1294,
 1294,
 1294,
 1294,
 334,
 567,
 506,
 514,
 514,
 517,
 537,
 389,
 392,
 367,
 535,
 522,
 391,
 522,
 1577,
 1575,
 1575,
 1326,
 1315,
 1346,
 1341,
 520,
 523,
 526,
 510,
 551,
 535,
 552,
 498,
 375,
 650,
 606,
 606,
 606,
 965,
 378,
 960,
 965,
 965,
 530,
 1434,
 1434,
 1434,
 1431,
 541,
 542,
 539,
 539,
 542,
 1434,
 382,
 535,
 526,
 520,
 1267,
 1389,
 1389,
 1339,
 341,
 520,
 1204,
 1204,
 1205,
 1198,
 518,
 531,
 1204,
 1339,
 266,
 1204,
 271,
 589,
 492,
 510,
 554,
 536,
 1543,
 1543,
 1543,
 1543,
 1543,
 853,
 853,
 853,
 853,
 916,
 1199,
 537,
 1204,
 1199,
 536,
 1199,
 860,
 868,
 864,
 866,
 866,
 1201,
 529,
 518,
 531,
 385,
 524,
 1209,
 1207,
 524,
 1160,
 1209,
 1207,
 533,
 531,
 533,
 531,
 393,
 538,
 538,
 538,
 1187,
 538,
 517,
 517,
 505,
 505,
 524,
 533,
 385,
 531,
 529,
 367,
 585,
 623,
 660,
 575,
 533,
 523,
 837,
 838,
 834,
 833,
 834,
 530,
 530,
 389,
 390,
 520,
 340,
 504,
 521,
 521,
 1320,
 1320,
 1320,
 1320,
 1320,
 387,
 1242,
 1239,
 1242,
 1242,
 1239,
 535,
 514,
 387,
 535,
 1434,
 1431,
 1434,
 1430,
 1430,
 496,
 534,
 502,
 529,
 535,
 1318,
 517,
 501,
 535,
 389,
 540,
 539,
 527,
 348,
 522,
 528,
 409,
 538,
 535,
 697,
 703,
 493,
 707,
 687,
 709,
 396,
 540,
 540,
 516,
 1228,
 1228,
 1404,
 1269,
 531,
 1270,
 535,
 493,
 527,
 506,
 386,
 523,
 522,
 388,
 536,
 336,
 522,
 509,
 503,
 533,
 538,
 496,
 496,
 533,
 534,
 543,
 529,
 518,
 518,
 529,
 538,
 503,
 506,
 503,
 503,
 513,
 522,
 382,
 380,
 499,
 513,
 520,
 528,
 529,
 535,
 502,
 532,
 1543,
 1538,
 1541,
 1535,
 1532,
 439,
 1529,
 513,
 520,
 530,
 529,
 531,
 530,
 733,
 520,
 510,
 733,
 738,
 844,
 754,
 535,
 1339,
 1343,
 1339,
 543,
 1343,
 1339,
 533,
 531,
 533,
 533,
 528,
 531,
 531,
 533,
 509,
 536,
 1054,
 1054,
 1054,
 1032,
 1013,
 527,
 527,
 999,
 999,
 1000,
 1000,
 1001,
 520,
 509,
 539,
 540,
 1537,
 496,
 1465,
 479,
 1465,
 1476,
 509,
 530,
 1465,
 877,
 877,
 876,
 876,
 876,
 481,
 491,
 520,
 502,
 386,
 386,
 535,
 523,
 539,
 539,
 947,
 978,
 1057,
 533,
 393,
 465,
 1064,
 468,
 366,
 533,
 545,
 1077,
 1079,
 1079,
 1008,
 958,
 973,
 398,
 166,
 424,
 394,
 382,
 394,
 543,
 549,
 535,
 539,
 382,
 382,
 971,
 971,
 392,
 531,
 531,
 544,
 524,
 1301,
 1283,
 509,
 496,
 369,
 510,
 510,
 493,
 509,
 499,
 529,
 516,
 522,
 522,
 502,
 1148,
 1152,
 1151,
 1152,
 540,
 1300,
 1304,
 1304,
 1300,
 657,
 657,
 657,
 1536,
 612,
 971,
 971,
 971,
 971,
 511,
 515,
 432,
 432,
 438,
 513,
 510,
 816,
 827,
 826,
 826,
 828,
 520,
 520,
 519,
 334,
 522,
 533,
 543,
 513,
 1460,
 543,
 1460,
 1460,
 1460,
 1422,
 1461,
 533,
 510,
 543,
 522,
 543,
 543,
 543,
 524,
 543,
 532,
 533,
 1314,
 1324,
 1325,
 1315,
 639,
 493,
 531,
 639,
 616,
 642,
 642,
 516,
 389,
 531,
 392,
 392,
 522,
 387,
 529,
 542,
 506,
 493,
 525,
 380,
 565,
 533,
 533,
 533,
 537,
 1341,
 533,
 543,
 1368,
 543,
 1365,
 1369,
 670,
 1368,
 1466,
 1546,
 1541,
 1546,
 1522,
 763,
 762,
 762,
 763,
 762,
 1532,
 905,
 899,
 908,
 911,
 911,
 1259,
 1258,
 1257,
 1259,
 524,
 529,
 392,
 543,
 181,
 1232,
 535,
 1293,
 1230,
 1259,
 513,
 1259,
 1277,
 475,
 519,
 475,
 537,
 533,
 387,
 525,
 529,
 388,
 529,
 535,
 384,
 1290,
 532,
 392,
 478,
 544,
 487,
 352,
 496,
 522,
 522,
 1377,
 1439,
 1350,
 1350,
 1439,
 971,
 945,
 973,
 542,
 374,
 514,
 351,
 516,
 531,
 528,
 528,
 658,
 657,
 597,
 1543,
 1522,
 1541,
 1493,
 562,
 496,
 568,
 568,
 567,
 567,
 567,
 566,
 566,
 567,
 973,
 542,
 975,
 549,
 549,
 553,
 555,
 1259,
 1265,
 1258,
 510,
 515,
 623,
 523,
 486,
 623,
 656,
 504,
 521,
 481,
 643,
 348,
 502,
 518,
 1321,
 1316,
 1321,
 1334,
 1315,
 1340,
 529,
 898,
 898,
 898,
 896,
 528,
 528,
 1278,
 1279,
 1232,
 1238,
 1237,
 544,
 537,
 535,
 783,
 1565,
 518,
 733,
 733,
 735,
 735,
 503,
 1214,
 1212,
 526,
 1200,
 1229,
 1214,
 1055,
 1054,
 1054,
 589,
 1054,
 1054,
 1212,
 1054,
 1211,
 1209,
 1215,
 1231,
 529,
 505,
 511,
 539,
 333,
 565,
 530,
 333,
 348,
 565,
 987,
 987,
 989,
 989,
 887,
 887,
 890,
 887,
 891,
 529,
 515,
 515,
 576,
 576,
 589,
 589,
 348,
 348,
 565,
 497,
 343,
 671,
 549,
 553,
 966,
 964,
 965,
 963,
 961,
 695,
 664,
 526,
 695,
 695,
 532,
 532,
 539,
 953,
 962,
 953,
 952,
 660,
 694,
 693,
 680,
 699,
 765,
 765,
 765,
 765,
 765,
 818,
 817,
 811,
 820,
 811,
 372,
 608,
 559,
 559,
 373,
 559,
 559,
 559,
 557,
 1054,
 1057,
 1096,
 1096,
 1077,
 971,
 962,
 962,
 971,
 1096,
 514,
 514,
 567,
 549,
 1105,
 521,
 522,
 557,
 549,
 555,
 555,
 555,
 541,
 1211,
 1225,
 1259,
 1253,
 803,
 803,
 803,
 803,
 1211,
 804,
 1229,
 1229,
 1226,
 1226,
 1142,
 389,
 1142,
 1143,
 1144,
 1143,
 759,
 759,
 760,
 766,
 767,
 1228,
 1223,
 1229,
 1223,
 1216,
 656,
 656,
 657,
 1216,
 523,
 501,
 508,
 508,
 558,
 523,
 342,
 515,
 575,
 576,
 575,
 590,
 575,
 533,
 502,
 553,
 556,
 556,
 556,
 553,
 1030,
 1024,
 885,
 1030,
 885,
 555,
 508,
 552,
 550,
 555,
 542,
 1362,
 1402,
 530,
 1402,
 1362,
 1403,
 1362,
 558,
 557,
 557,
 557,
 559,
 522,
 537,
 1389,
 515,
 502,
 1573,
 502,
 1573,
 1573,
 555,
 520,
 524,
 551,
 523,
 542,
 535,
 504,
 1127,
 1337,
 1337,
 523,
 540,
 1337,
 1316,
 1013,
 1016,
 1316,
 1436,
 1438,
 1442,
 1436,
 1436,
 544,
 1438,
 543,
 1140,
 520,
 1137,
 510,
 1135,
 1127,
 942,
 948,
 947,
 942,
 529,
 531,
 1337,
 375,
 1389,
 1389,
 1388,
 1354,
 1362,
 1362,
 1355,
 ...]