In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
% matplotlib inline

In [3]:
data = pd.read_csv("Boston_Police_Department_FIO.csv")

In [5]:
data.head()

,SEQ_NUM,FIO_ID,SEX,LOCATION,DIST,DIST_ID,FIO_DATE,FIO_TIME,PRIORS,DESCRIPTION,...,LAST_UPDATETIME,ETHNICITY,FIRST_INSERTTIME,ACTIVE_ID,RACE_ID,RACE_DESC,FIO_DATE_CORRECTED,AGE_AT_FIO_CORRECTED,STREET_ID,CITY
0,938283,621880,MALE,NORMANDY ST at SUPPLE RD,B2,3,12/10/2013 12:00:00 AM,12/10/2013 12:00:00 AM,YES,B(Black),...,01/30/2014 12:00:00 AM,NaN,01/30/2014 12:00:00 AM,1,2,B(Black),12/10/2013 12:00:00 AM,59,3274,NO DATA ENTERED
1,881897,565177,MALE,75 BOYLSTON ST,A1,1,05/24/2012 12:00:00 AM,05/24/2012 12:00:00 AM,NO,W(White),...,06/06/2012 12:00:00 AM,NaN,06/06/2012 12:00:00 AM,1,4,W(White),05/24/2012 12:00:00 AM,26,543,OTHER
2,882060,565340,MALE,5 TOPLIFF ST,C11,5,06/04/2012 12:00:00 AM,06/04/2012 12:00:00 AM,YES,B(Black),...,06/07/2012 12:00:00 AM,NaN,06/07/2012 12:00:00 AM,1,2,B(Black),06/04/2012 12:00:00 AM,18,4493,NO DATA ENTERED
3,971623,653895,MALE,170 MORTON ST,B2,3,06/21/2014 12:00:00 AM,06/21/2014 12:00:00 AM,YES,B(Black),...,11/24/2014 12:00:00 AM,NaN,11/24/2014 12:00:00 AM,1,2,B(Black),06/21/2014 12:00:00 AM,24,3094,Dorchester
4,882761,566043,MALE,0 ST ALPHONSUS ST,B2,3,12/02/2010 12:00:00 AM,12/02/2010 12:00:00 AM,YES,B(Black),...,06/13/2012 12:00:00 AM,NaN,06/13/2012 12:00:00 AM,1,2,B(Black),12/02/2011 12:00:00 AM,70,4241,Dorchester