In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn
import csv
% matplotlib inline

In [34]:
# Removed un-needed columns from original dataset, use data
data = pd.read_csv("data.csv")
# replace NaN with "Missing"
data = pd.DataFrame.fillna(data,value="Missing")
data.head()

,FIO_ID,SEX,DIST_ID,PRIORS,CLOTHING,COMPLEXION,FIOFS_TYPE,SEARCH,BASIS,STOP_REASONS,...,SUPERVISOR_ID,OFFICER_ID,OFF_DIST_ID,RACE_ID,AGE_AT_FIO_CORRECTED,TERRORISM,VEH_STATE,VEH_MAKE,FIOFS_REASONS,FIO_DATE_CORRECTED
0,621880,MALE,3,YES,"blk jacket, blk shirt, blue jeans, wht sneakers",Med,IOFS,VP,CONSENT SEARCH,INVESTIGATIVE,...,10132,98656,9999,2,59,0,MA,NISSAN,DRUGS,2013-12-10 00:00:00
1,565177,MALE,1,NO,"GRY. SWEATSHIRT, BLUE JEANS",Med,IO,Missing,REASONABLE SUSPICION,RADIO CALL,...,8949,9765,1,4,26,0,NO DATA ENTERED,NO DATA ENTERED,DRUGS,2012-05-24 00:00:00
2,565340,MALE,5,YES,"GRY SWEATSHIRT, GRY PANTS",Dark,IOF,Missing,Missing,OTHER (SPECIFY),...,11312,83575,16,2,18,0,NO DATA ENTERED,NO DATA ENTERED,"INVESTIGATE, PERSON",2012-06-04 00:00:00
3,653895,MALE,3,YES,"lime green shirt, blue jeans",Med,IOFS,Missing,Missing,INVESTIGATIVE,...,9375,76146,25,2,24,0,NO DATA ENTERED,NO DATA ENTERED,ABDW,2014-06-21 00:00:00
4,566043,MALE,3,YES,BLU DOWN VEST BLU PANTS,Light,IO,P,REASONABLE SUSPICION,INVESTIGATIVE,...,Missing,107106,3,2,70,0,MA,SATURN,VAL,2011-12-02 00:00:00

In [35]:
encoded_data = pd.get_dummies(data, columns=["SEX","PRIORS","VEH_OCCUPANT","DIST_ID","COMPLEXION","FIOFS_TYPE","SEARCH","BASIS","STOP_REASONS","RACE_ID","VEH_COLOR","VEH_STATE","VEH_MAKE","FIOFS_REASONS","OUTCOME"])
encoded_data.head()
#data = pd.get_dummies(data, columns=["FIOFS_TYPE", "SEARCH", "BASIS", "STOP_REASONS", "RACE_ID"]).head()

,FIO_ID,CLOTHING,VEH_YEAR_NUM,VEH_MODEL,SUPERVISOR_ID,OFFICER_ID,OFF_DIST_ID,AGE_AT_FIO_CORRECTED,TERRORISM,FIO_DATE_CORRECTED,...,FIOFS_REASONS_VANDALISM,FIOFS_REASONS_WARRANT,OUTCOME_F,OUTCOME_FO,OUTCOME_Missing,OUTCOME_O,OUTCOME_S,OUTCOME_SF,OUTCOME_SFO,OUTCOME_SO
0,621880,"blk jacket, blk shirt, blue jeans, wht sneakers",2012,max,10132,98656,9999,59,0,2013-12-10 00:00:00,...,0,0,0,0,0,0,0,0,1,0
1,565177,"GRY. SWEATSHIRT, BLUE JEANS",0,Missing,8949,9765,1,26,0,2012-05-24 00:00:00,...,0,0,1,0,0,0,0,0,0,0
2,565340,"GRY SWEATSHIRT, GRY PANTS",0,Missing,11312,83575,16,18,0,2012-06-04 00:00:00,...,0,0,1,0,0,0,0,0,0,0
3,653895,"lime green shirt, blue jeans",0,Missing,9375,76146,25,24,0,2014-06-21 00:00:00,...,0,0,0,0,0,0,1,0,0,0
4,566043,BLU DOWN VEST BLU PANTS,2001,2DR,Missing,107106,3,70,0,2011-12-02 00:00:00,...,0,0,1,0,0,0,0,0,0,0

In [ ]:
#len(data) = 152230, <150 or 1500
from collections import Counter
z = list(data["FIOFS_REASONS"])
Counter(z)

In [ ]:
v = ["FIOFS_REASONS"]
a = ['209A INTIMIDATION OF WITNESS/VICTIM','209A, A&B','209A, ABDW','209A, ADW','209A, ASSAULT','209A, ASSAULT WITH INTENT TO MURDER', '209A, B&E, (D/T)',
    '209A, B&E, (N/T)','209A, CHILD ABUSE', '209A, CUSTODY DISPUTE','209A, ELDERLY ABUSE','209A, HARASSMENT (TELEPHONE)',
    '209A, LARCENY','209A, MALICIOUS DESTRUCTION PROPERTY','209A, SEARCH WARRANT','209A, STALKING', '209A, THREATS', '209A, VANDALISM', '209A, VERBAL DISPUTE', '209A, VIO. RESTRAINING ORDER','209A, WARRANT']
ab = ['A&B','A&B PO', 'A&B, PUBLIC SERVANT']
alcohol = ['ALCOHOL, MINOR','ALCOHOL, PARK', 'ALCOHOL, PUBLIC DRINKING', 'ALCOHOL, SALE','PUBLIC DRINKING','OUI, ALCOHOL']
assault = ['ASSAULT', 'ASSAULT WITH INTENT TO COMMIT FELONY', 'ASSAULTW/I TO MURDER']
be = ['ATTEMPTED B&E','B&E, MV', 'B&E, NON-RESIDENCE - DAY','B&E, NON-RESIDENCE - NIGHT', 'B&E, RESIDENCE - DAY', 'B&E, RESIDENCE - NIGHT']
city = ['CITY ORDINANCE OTHER,' 'CITY ORDINANCE, NOISE','CITY ORDINANCES, HACKNEY','CITY ORDINANCES, HAWKERS']
disorderly = ['DISORDERLY','DISORDERLY/NOISYHOUSE']
drugs = ['DRUGS, CONSPIRACY','DRUGS, FOUND','DRUGS, INVESTIGATION','DRUGS, OVERDOSE','DRUGS, POSSESSION','DRUGS, SALE','DRUGS, SCHOOL ZONE','DRUGS, TRAFFICKING','OUI, DRUGS']
firearm = ['FIREARM, CARRYING', 'FIREARM, DISCHARGING', 'FIREARM, MACHINE GUN- POSSESSION','FIREARM, POSSESSION', 'FIREARM, SAWED OFF- POSSESSION', 'FIREARM, TURNED IN']
larceny = ['LARCENY OF LEASED OR RENTED PROPERTY', 'LARCENY, BIKE', 'LARCENY, BUILDING', 'LARCENY, CHECK','LARCENY, CREDIT CARD','LARCENY, FARE EVASION','LARCENY, FROM MV','LARCENY, MV',
          'LARCENY, NOTEBOOK COMPUTER', 'LARCENY, OVER','LARCENY, PERSON', 'LARCENY, PREMISES PERSONAL PROPERTY', 'LARCENY, SAFE', 'LARCENY, SCHEME','LARCENY, SHOPLIFTING','LARCENY, UNDER']
mv = ['MV ACCIDENT','MV ACCIDENT, DEPT VEHICLE', 'MV ACCIDENT, INJURY', 'MV ACCIDENT, PED']
prostitution = ['PROSTITUTION, COMMON NIGHT WALKER', 'PROSTITUTION, DERIVING SUPPORT','PROSTITUTION, SEX FOR FEE']
robbery = ['ROBBERY, ARMED COMMERCIAL','ROBBERY, ARMED COMMERCIAL BANK','ROBBERY, ARMED PERSON','ROBBERY, HANDBAG','ROBBERY, OVER 65','ROBBERY, UNARMED COMMERCIAL','ROBBERY, UNARMED PERSON',
          'ROBBERY,ATTEMPT,ARMED COMMERCIAL','ROBBERY,ATTEMPT,ARMED PERSON','ROBBERY,ATTEMPT,UNARMED COMMERCIAL','ROBBERY,ATTEMPT,UNARMED PERSON']
sex = ['SEX-ASSAULT, INCEST','SEX-ASSAULT, INDECENT A&B (14 + )', 'SEX-ASSAULT, INDECENT A&B (UNDER 14)','SEX-ASSAULT, RAPE','SEX-ASSAULT, RAPE & ABUSE, UNDER 16 STATUTORY RAPE', 'SEX-ASSAULT, RAPE (AGGRAVATED)','SEX-ASSAULT, RAPE (ATTEMPT)','SEX-ASSAULT, RAPE OF CHILD BY FORCE','SEX-ASSAULT, SEARCH WARRANT EXECUTED', 'SEX-ASSAULT, UNCONFIRMED OR UNKNOWN']
warrant = ['WARRANT ARREST', 'WARRANTS, RUNAWAY, CHINS,ETC00','WARRANTS, SEARCH', 'ARREST WARRANT EXECUTION']
keep = ['DISTURBANCE','GUNSHOTS','INVESTIGATE, MV','INVESTIGATE, PERSON','INVESTIGATE, PREMISES','INVESTIGATE, PROPERTY','TRESPASSING','VAL','PANHANDLING','AFFRAY','DISPUTE','LOUD PARTY','ABDW','INJURED PERSON','STOLEN MV','THREATS','VANDALISM']
for state in data["FIOFS_REASONS"]:
    if state in a:
        v.append("209A")
    elif state in ab:
        v.append("A&B")
    elif state in alcohol:
        v.append("ALCOHOL")
    elif state in assault:
        v.append("ASSAULT")
    elif state in be:
        v.append("B&E")
    elif state in city:
        v.append("CITY ORDINANCE")
    elif state in disorderly:
        v.append("DISORDERLY")
    elif state in drugs:
        v.append("DRUGS")
    elif state in firearm:
        v.append("FIREARM")
    elif state in larceny:
        v.append("LARCENY")
    elif state in mv:
        v.append("MV ACCIDENT")
    elif state in prostitution:
        v.append("PROSTITUTION")
    elif state in robbery:
        v.append("ROBBERY")
    elif state in sex:
        v.append("SEX-ASSAULT")
    elif state in warrant:
        v.append("WARRANT")
    elif state in keep:
        v.append(state)
    else:
        v.append("OTHER")
v

In [33]:
from shutil import move
from tempfile import NamedTemporaryFile
with open('data1.csv') as csvfile, NamedTemporaryFile("w", dir='.', delete=False) as temp:
    r = csv.reader(csvfile)
    wr = csv.writer(temp, delimiter=',')
    for row, new in zip(r, d):
        wr.writerow(row + [new])
move(temp.name,"data.csv")

In [32]:
delete = ["FIO_DATE_CORRECTED"]
with open("data.csv") as infile, open("data1.csv", "wb") as outfile:
    r = csv.DictReader(infile)
    firstrow = next(r)
    fields = r.fieldnames
    w = csv.DictWriter(outfile, [field for field in fields if not field in delete],
                      extrasaction="ignore")
    w.writeheader()
    w.writerow(firstrow)
    for row in r:
        w.writerow(row)

In [34]:
"""
Sample code for adding column
"""
#from shutil import move
#import csv
#from tempfile import NamedTemporaryFile
#with open('data.csv') as csvfile, NamedTemporaryFile("w", dir='.', delete=False) as temp:
#    r = csv.reader(csvfile)
#    wr = csv.writer(temp, delimiter=',')
#    for row, new in zip(r, a):
#        wr.writerow(row + [new])
#move(temp.name, "data.csv")

In [81]:
"""
Sample code for deleting column
"""
#delete = ["VEH_OCCUPANT"]
#with open("data.csv") as infile, open("data1.csv", "wb") as outfile:
#    r = csv.DictReader(infile)
#    firstrow = next(r)
#    fields = r.fieldnames
#    w = csv.DictWriter(outfile, [field for field in fields if not field in delete],
#                      extrasaction="ignore")
#   w.writeheader()
#    w.writerow(firstrow)
#    for row in r:
#        w.writerow(row)

In [183]:
data.dtypes

FIO_ID                  int64
STREET_ID               int64
DIST_ID                 int64
CLOTHING               object
COMPLEXION             object
FIOFS_TYPE             object
SEARCH                 object
BASIS                  object
STOP_REASONS           object
FIOFS_REASONS          object
OUTCOME                object
VEH_STATE              object
VEH_MAKE               object
VEH_YEAR_NUM          float64
VEH_COLOR              object
VEH_MODEL              object
SUPERVISOR_ID         float64
OFFICER_ID              int64
OFF_DIST_ID             int64
ETHNICITY              object
RACE_ID                 int64
FIO_DATE_CORRECTED     object
SEX                     int64
AGE                     int64
VEH_OCCUPANT            int64
PRIORS                  int64
TERRORISM               int64
dtype: object

In [23]:
import time
from datetime import datetime, date, time, timedelta
ts = pd.Series(np.random.rand(len(data["FIO_DATE_CORRECTED"])), index=data["FIO_DATE_CORRECTED"])
# Convert an element to appropriate Timestamp object
# http://pandas.pydata.org/pandas-docs/stable/timeseries.html
pd.to_datetime('12/10/2013 12:00:00 AM')
#2011 - 2015 ~60 months
# 1) practices might have changed over time -> months 1-60 from start of dataset
# 2) season
# pandas delta time from the first one
# http://pandas.pydata.org/pandas-docs/stable/timedeltas.html

Timestamp('2013-12-10 00:00:00')

In [36]:
data["FIO_DATE_CORRECTED"]

0         2013-12-10 00:00:00
1         2012-05-24 00:00:00
2         2012-06-04 00:00:00
3         2014-06-21 00:00:00
4         2011-12-02 00:00:00
5         2012-06-09 00:00:00
6         2013-08-03 00:00:00
7         2013-08-31 00:00:00
8         2013-08-31 00:00:00
9         2013-08-31 00:00:00
10        2013-08-30 00:00:00
11        2012-05-30 00:00:00
12        2012-11-02 00:00:00
13        2012-11-02 00:00:00
14        2012-11-08 00:00:00
15        2014-06-26 00:00:00
16        2012-11-03 00:00:00
17        2012-11-08 00:00:00
18        2012-06-12 00:00:00
19        2012-06-04 00:00:00
20        2012-06-11 00:00:00
21        2011-12-07 00:00:00
22        2013-04-11 00:00:00
23        2013-04-08 00:00:00
24        2013-04-18 00:00:00
25        2013-04-22 00:00:00
26        2013-04-08 00:00:00
27        2012-06-02 00:00:00
28        2012-05-23 00:00:00
29        2011-11-23 00:00:00
                 ...
152200    2015-05-22 00:00:00
152201    2015-05-23 00:00:00
152202    2015-05-14 00:00:00
152203    2015-05-22 00:00:00
152204    2015-05-23 00:00:00
152205    2015-05-22 00:00:00
152206    2015-05-18 00:00:00
152207    2015-05-22 00:00:00
152208    2015-05-24 00:00:00
152209    2015-05-22 00:00:00
152210    2015-05-23 00:00:00
152211    2015-05-23 00:00:00
152212    2015-05-21 00:00:00
152213    2015-05-22 00:00:00
152214    2015-05-17 00:00:00
152215    2015-05-17 00:00:00
152216    2015-05-20 00:00:00
152217    2015-05-19 00:00:00
152218    2015-05-11 00:00:00
152219    2015-05-17 00:00:00
152220    2015-05-17 00:00:00
152221    2015-05-13 00:00:00
152222    2015-05-09 00:00:00
152223    2015-05-26 00:00:00
152224    2015-05-22 00:00:00
152225    2015-05-19 00:00:00
152226    2015-05-19 00:00:00
152227    2015-05-22 00:00:00
152228    2015-05-22 00:00:00
152229    2015-05-22 00:00:00
Name: FIO_DATE_CORRECTED, dtype: object

In [31]:
d

['FIO_DATE_CORRECTED',
 Timestamp('2013-12-10 00:00:00'),
 Timestamp('2012-05-24 00:00:00'),
 Timestamp('2012-06-04 00:00:00'),
 Timestamp('2014-06-21 00:00:00'),
 Timestamp('2011-12-02 00:00:00'),
 Timestamp('2012-06-09 00:00:00'),
 Timestamp('2013-08-03 00:00:00'),
 Timestamp('2013-08-31 00:00:00'),
 Timestamp('2013-08-31 00:00:00'),
 Timestamp('2013-08-31 00:00:00'),
 Timestamp('2013-08-30 00:00:00'),
 Timestamp('2012-05-30 00:00:00'),
 Timestamp('2012-11-02 00:00:00'),
 Timestamp('2012-11-02 00:00:00'),
 Timestamp('2012-11-08 00:00:00'),
 Timestamp('2014-06-26 00:00:00'),
 Timestamp('2012-11-03 00:00:00'),
 Timestamp('2012-11-08 00:00:00'),
 Timestamp('2012-06-12 00:00:00'),
 Timestamp('2012-06-04 00:00:00'),
 Timestamp('2012-06-11 00:00:00'),
 Timestamp('2011-12-07 00:00:00'),
 Timestamp('2013-04-11 00:00:00'),
 Timestamp('2013-04-08 00:00:00'),
 Timestamp('2013-04-18 00:00:00'),
 Timestamp('2013-04-22 00:00:00'),
 Timestamp('2013-04-08 00:00:00'),
 Timestamp('2012-06-02 00:00:00'),
 Timestamp('2012-05-23 00:00:00'),
 Timestamp('2011-11-23 00:00:00'),
 Timestamp('2012-05-24 00:00:00'),
 Timestamp('2014-02-10 00:00:00'),
 Timestamp('2014-02-02 00:00:00'),
 Timestamp('2012-05-29 00:00:00'),
 Timestamp('2014-02-11 00:00:00'),
 Timestamp('2014-02-11 00:00:00'),
 Timestamp('2014-02-12 00:00:00'),
 Timestamp('2012-07-22 00:00:00'),
 Timestamp('2012-07-20 00:00:00'),
 Timestamp('2012-07-21 00:00:00'),
 Timestamp('2012-07-20 00:00:00'),
 Timestamp('2012-07-20 00:00:00'),
 Timestamp('2014-05-26 00:00:00'),
 Timestamp('2014-05-22 00:00:00'),
 Timestamp('2014-06-26 00:00:00'),
 Timestamp('2014-05-27 00:00:00'),
 Timestamp('2012-06-13 00:00:00'),
 Timestamp('2012-06-13 00:00:00'),
 Timestamp('2012-06-05 00:00:00'),
 Timestamp('2012-05-31 00:00:00'),
 Timestamp('2012-06-06 00:00:00'),
 Timestamp('2012-06-07 00:00:00'),
 Timestamp('2012-06-18 00:00:00'),
 Timestamp('2012-05-17 00:00:00'),
 Timestamp('2012-05-17 00:00:00'),
 Timestamp('2012-06-25 00:00:00'),
 Timestamp('2012-05-15 00:00:00'),
 Timestamp('2012-05-15 00:00:00'),
 Timestamp('2012-06-02 00:00:00'),
 Timestamp('2012-06-27 00:00:00'),
 Timestamp('2013-05-30 00:00:00'),
 Timestamp('2013-05-22 00:00:00'),
 Timestamp('2013-06-14 00:00:00'),
 Timestamp('2012-09-07 00:00:00'),
 Timestamp('2012-06-11 00:00:00'),
 Timestamp('2012-06-10 00:00:00'),
 Timestamp('2015-03-17 00:00:00'),
 Timestamp('2012-05-15 00:00:00'),
 Timestamp('2012-05-14 00:00:00'),
 Timestamp('2012-06-06 00:00:00'),
 Timestamp('2012-06-04 00:00:00'),
 Timestamp('2012-06-06 00:00:00'),
 Timestamp('2012-01-22 00:00:00'),
 Timestamp('2012-06-09 00:00:00'),
 Timestamp('2012-06-07 00:00:00'),
 Timestamp('2012-03-08 00:00:00'),
 Timestamp('2012-06-24 00:00:00'),
 Timestamp('2012-06-07 00:00:00'),
 Timestamp('2012-05-24 00:00:00'),
 Timestamp('2012-06-06 00:00:00'),
 Timestamp('2012-06-09 00:00:00'),
 Timestamp('2012-06-01 00:00:00'),
 Timestamp('2012-03-08 00:00:00'),
 Timestamp('2012-06-02 00:00:00'),
 Timestamp('2011-09-24 00:00:00'),
 Timestamp('2012-06-05 00:00:00'),
 Timestamp('2012-05-16 00:00:00'),
 Timestamp('2012-06-04 00:00:00'),
 Timestamp('2012-05-14 00:00:00'),
 Timestamp('2012-06-01 00:00:00'),
 Timestamp('2013-06-16 00:00:00'),
 Timestamp('2013-06-14 00:00:00'),
 Timestamp('2012-05-17 00:00:00'),
 Timestamp('2013-06-13 00:00:00'),
 Timestamp('2013-06-17 00:00:00'),
 Timestamp('2012-06-04 00:00:00'),
 Timestamp('2012-05-30 00:00:00'),
 Timestamp('2012-05-24 00:00:00'),
 Timestamp('2013-05-30 00:00:00'),
 Timestamp('2012-06-28 00:00:00'),
 Timestamp('2015-03-01 00:00:00'),
 Timestamp('2012-06-08 00:00:00'),
 Timestamp('2015-03-14 00:00:00'),
 Timestamp('2015-03-25 00:00:00'),
 Timestamp('2015-03-25 00:00:00'),
 Timestamp('2015-03-24 00:00:00'),
 Timestamp('2012-05-30 00:00:00'),
 Timestamp('2012-07-15 00:00:00'),
 Timestamp('2012-06-29 00:00:00'),
 Timestamp('2012-06-29 00:00:00'),
 Timestamp('2012-06-29 00:00:00'),
 Timestamp('2012-06-19 00:00:00'),
 Timestamp('2012-01-06 00:00:00'),
 Timestamp('2012-01-19 00:00:00'),
 Timestamp('2012-06-18 00:00:00'),
 Timestamp('2012-06-18 00:00:00'),
 Timestamp('2012-01-19 00:00:00'),
 Timestamp('2012-06-20 00:00:00'),
 Timestamp('2012-06-22 00:00:00'),
 Timestamp('2012-06-14 00:00:00'),
 Timestamp('2012-06-22 00:00:00'),
 Timestamp('2012-06-14 00:00:00'),
 Timestamp('2012-06-19 00:00:00'),
 Timestamp('2012-06-19 00:00:00'),
 Timestamp('2012-01-06 00:00:00'),
 Timestamp('2013-08-03 00:00:00'),
 Timestamp('2012-06-09 00:00:00'),
 Timestamp('2013-08-03 00:00:00'),
 Timestamp('2013-08-03 00:00:00'),
 Timestamp('2013-08-03 00:00:00'),
 Timestamp('2013-08-03 00:00:00'),
 Timestamp('2013-08-12 00:00:00'),
 Timestamp('2013-09-04 00:00:00'),
 Timestamp('2012-05-18 00:00:00'),
 Timestamp('2013-09-06 00:00:00'),
 Timestamp('2013-08-31 00:00:00'),
 Timestamp('2013-09-06 00:00:00'),
 Timestamp('2014-07-18 00:00:00'),
 Timestamp('2014-07-18 00:00:00'),
 Timestamp('2014-07-18 00:00:00'),
 Timestamp('2014-07-18 00:00:00'),
 Timestamp('2014-07-18 00:00:00'),
 Timestamp('2011-12-01 00:00:00'),
 Timestamp('2012-07-21 00:00:00'),
 Timestamp('2012-05-21 00:00:00'),
 Timestamp('2012-05-29 00:00:00'),
 Timestamp('2012-05-29 00:00:00'),
 Timestamp('2012-06-01 00:00:00'),
 Timestamp('2012-06-21 00:00:00'),
 Timestamp('2012-01-25 00:00:00'),
 Timestamp('2012-01-28 00:00:00'),
 Timestamp('2012-01-03 00:00:00'),
 Timestamp('2012-06-19 00:00:00'),
 Timestamp('2012-06-06 00:00:00'),
 Timestamp('2012-01-27 00:00:00'),
 Timestamp('2012-06-06 00:00:00'),
 Timestamp('2015-04-27 00:00:00'),
 Timestamp('2015-04-25 00:00:00'),
 Timestamp('2015-04-25 00:00:00'),
 Timestamp('2014-08-19 00:00:00'),
 Timestamp('2014-08-08 00:00:00'),
 Timestamp('2014-09-08 00:00:00'),
 Timestamp('2014-09-03 00:00:00'),
 Timestamp('2012-06-04 00:00:00'),
 Timestamp('2012-06-07 00:00:00'),
 Timestamp('2012-06-10 00:00:00'),
 Timestamp('2012-05-25 00:00:00'),
 Timestamp('2012-07-05 00:00:00'),
 Timestamp('2012-06-19 00:00:00'),
 Timestamp('2012-07-06 00:00:00'),
 Timestamp('2012-05-13 00:00:00'),
 Timestamp('2012-01-11 00:00:00'),
 Timestamp('2012-10-12 00:00:00'),
 Timestamp('2012-08-29 00:00:00'),
 Timestamp('2012-08-29 00:00:00'),
 Timestamp('2012-08-29 00:00:00'),
 Timestamp('2013-08-23 00:00:00'),
 Timestamp('2012-01-14 00:00:00'),
 Timestamp('2013-08-18 00:00:00'),
 Timestamp('2013-08-23 00:00:00'),
 Timestamp('2013-08-23 00:00:00'),
 Timestamp('2012-06-14 00:00:00'),
 Timestamp('2014-12-05 00:00:00'),
 Timestamp('2014-12-05 00:00:00'),
 Timestamp('2014-12-05 00:00:00'),
 Timestamp('2014-12-02 00:00:00'),
 Timestamp('2012-06-25 00:00:00'),
 Timestamp('2012-06-26 00:00:00'),
 Timestamp('2012-06-23 00:00:00'),
 Timestamp('2012-06-23 00:00:00'),
 Timestamp('2012-06-26 00:00:00'),
 Timestamp('2014-12-05 00:00:00'),
 Timestamp('2012-01-18 00:00:00'),
 Timestamp('2012-06-19 00:00:00'),
 Timestamp('2012-06-10 00:00:00'),
 Timestamp('2012-06-04 00:00:00'),
 Timestamp('2014-06-21 00:00:00'),
 Timestamp('2014-10-21 00:00:00'),
 Timestamp('2014-10-21 00:00:00'),
 Timestamp('2014-09-01 00:00:00'),
 Timestamp('2011-12-08 00:00:00'),
 Timestamp('2012-06-04 00:00:00'),
 Timestamp('2014-04-19 00:00:00'),
 Timestamp('2014-04-19 00:00:00'),
 Timestamp('2014-04-20 00:00:00'),
 Timestamp('2014-04-13 00:00:00'),
 Timestamp('2012-06-02 00:00:00'),
 Timestamp('2012-06-15 00:00:00'),
 Timestamp('2014-04-19 00:00:00'),
 Timestamp('2014-09-01 00:00:00'),
 Timestamp('2011-09-24 00:00:00'),
 Timestamp('2014-04-19 00:00:00'),
 Timestamp('2011-09-29 00:00:00'),
 Timestamp('2012-08-12 00:00:00'),
 Timestamp('2012-05-07 00:00:00'),
 Timestamp('2012-05-25 00:00:00'),
 Timestamp('2012-07-08 00:00:00'),
 Timestamp('2012-06-20 00:00:00'),
 Timestamp('2015-03-24 00:00:00'),
 Timestamp('2015-03-24 00:00:00'),
 Timestamp('2015-03-24 00:00:00'),
 Timestamp('2015-03-24 00:00:00'),
 Timestamp('2015-03-24 00:00:00'),
 Timestamp('2013-05-03 00:00:00'),
 Timestamp('2013-05-03 00:00:00'),
 Timestamp('2013-05-03 00:00:00'),
 Timestamp('2013-05-03 00:00:00'),
 Timestamp('2013-07-05 00:00:00'),
 Timestamp('2014-04-14 00:00:00'),
 Timestamp('2012-06-21 00:00:00'),
 Timestamp('2014-04-19 00:00:00'),
 Timestamp('2014-04-14 00:00:00'),
 Timestamp('2012-06-20 00:00:00'),
 Timestamp('2014-04-14 00:00:00'),
 Timestamp('2013-05-10 00:00:00'),
 Timestamp('2013-05-18 00:00:00'),
 Timestamp('2013-05-14 00:00:00'),
 Timestamp('2013-05-16 00:00:00'),
 Timestamp('2013-05-16 00:00:00'),
 Timestamp('2014-04-16 00:00:00'),
 Timestamp('2012-06-13 00:00:00'),
 Timestamp('2012-06-02 00:00:00'),
 Timestamp('2012-06-15 00:00:00'),
 Timestamp('2012-01-21 00:00:00'),
 Timestamp('2012-06-08 00:00:00'),
 Timestamp('2014-04-24 00:00:00'),
 Timestamp('2014-04-22 00:00:00'),
 Timestamp('2012-06-08 00:00:00'),
 Timestamp('2014-03-06 00:00:00'),
 Timestamp('2014-04-24 00:00:00'),
 Timestamp('2014-04-22 00:00:00'),
 Timestamp('2012-06-17 00:00:00'),
 Timestamp('2012-06-15 00:00:00'),
 Timestamp('2012-06-17 00:00:00'),
 Timestamp('2012-06-15 00:00:00'),
 Timestamp('2012-01-29 00:00:00'),
 Timestamp('2012-06-22 00:00:00'),
 Timestamp('2012-06-22 00:00:00'),
 Timestamp('2012-06-22 00:00:00'),
 Timestamp('2014-04-02 00:00:00'),
 Timestamp('2012-06-22 00:00:00'),
 Timestamp('2012-06-01 00:00:00'),
 Timestamp('2012-06-01 00:00:00'),
 Timestamp('2012-05-20 00:00:00'),
 Timestamp('2012-05-20 00:00:00'),
 Timestamp('2012-06-08 00:00:00'),
 Timestamp('2012-06-17 00:00:00'),
 Timestamp('2012-01-21 00:00:00'),
 Timestamp('2012-06-15 00:00:00'),
 Timestamp('2012-06-13 00:00:00'),
 Timestamp('2012-01-03 00:00:00'),
 Timestamp('2012-08-08 00:00:00'),
 Timestamp('2012-09-15 00:00:00'),
 Timestamp('2012-10-22 00:00:00'),
 Timestamp('2012-07-29 00:00:00'),
 Timestamp('2012-06-17 00:00:00'),
 Timestamp('2012-06-07 00:00:00'),
 Timestamp('2013-04-17 00:00:00'),
 Timestamp('2013-04-18 00:00:00'),
 Timestamp('2013-04-14 00:00:00'),
 Timestamp('2013-04-13 00:00:00'),
 Timestamp('2013-04-14 00:00:00'),
 Timestamp('2012-06-14 00:00:00'),
 Timestamp('2012-06-14 00:00:00'),
 Timestamp('2012-01-25 00:00:00'),
 Timestamp('2012-01-26 00:00:00'),
 Timestamp('2012-06-04 00:00:00'),
 Timestamp('2011-12-07 00:00:00'),
 Timestamp('2012-05-19 00:00:00'),
 Timestamp('2012-06-05 00:00:00'),
 Timestamp('2012-06-05 00:00:00'),
 Timestamp('2014-08-13 00:00:00'),
 Timestamp('2014-08-13 00:00:00'),
 Timestamp('2014-08-13 00:00:00'),
 Timestamp('2014-08-13 00:00:00'),
 Timestamp('2014-08-13 00:00:00'),
 Timestamp('2012-01-23 00:00:00'),
 Timestamp('2014-05-27 00:00:00'),
 Timestamp('2014-05-24 00:00:00'),
 Timestamp('2014-05-27 00:00:00'),
 Timestamp('2014-05-27 00:00:00'),
 Timestamp('2014-05-24 00:00:00'),
 Timestamp('2012-06-19 00:00:00'),
 Timestamp('2012-05-29 00:00:00'),
 Timestamp('2012-01-23 00:00:00'),
 Timestamp('2012-06-19 00:00:00'),
 Timestamp('2014-12-05 00:00:00'),
 Timestamp('2014-12-02 00:00:00'),
 Timestamp('2014-12-05 00:00:00'),
 Timestamp('2014-12-01 00:00:00'),
 Timestamp('2014-12-01 00:00:00'),
 Timestamp('2012-05-11 00:00:00'),
 Timestamp('2012-06-18 00:00:00'),
 Timestamp('2012-05-17 00:00:00'),
 Timestamp('2012-06-13 00:00:00'),
 Timestamp('2012-06-19 00:00:00'),
 Timestamp('2014-08-11 00:00:00'),
 Timestamp('2012-06-01 00:00:00'),
 Timestamp('2012-05-16 00:00:00'),
 Timestamp('2012-06-19 00:00:00'),
 Timestamp('2012-01-25 00:00:00'),
 Timestamp('2012-06-24 00:00:00'),
 Timestamp('2012-06-23 00:00:00'),
 Timestamp('2012-06-11 00:00:00'),
 Timestamp('2011-12-15 00:00:00'),
 Timestamp('2012-06-06 00:00:00'),
 Timestamp('2012-06-12 00:00:00'),
 Timestamp('2012-02-14 00:00:00'),
 Timestamp('2012-06-22 00:00:00'),
 Timestamp('2012-06-19 00:00:00'),
 Timestamp('2012-11-28 00:00:00'),
 Timestamp('2012-12-04 00:00:00'),
 Timestamp('2012-05-08 00:00:00'),
 Timestamp('2012-12-08 00:00:00'),
 Timestamp('2012-11-18 00:00:00'),
 Timestamp('2012-12-10 00:00:00'),
 Timestamp('2012-02-01 00:00:00'),
 Timestamp('2012-06-24 00:00:00'),
 Timestamp('2012-06-24 00:00:00'),
 Timestamp('2012-05-31 00:00:00'),
 Timestamp('2014-05-13 00:00:00'),
 Timestamp('2014-05-13 00:00:00'),
 Timestamp('2014-11-05 00:00:00'),
 Timestamp('2014-06-23 00:00:00'),
 Timestamp('2012-06-15 00:00:00'),
 Timestamp('2014-06-24 00:00:00'),
 Timestamp('2012-06-19 00:00:00'),
 Timestamp('2012-05-08 00:00:00'),
 Timestamp('2012-06-11 00:00:00'),
 Timestamp('2012-05-21 00:00:00'),
 Timestamp('2012-01-22 00:00:00'),
 Timestamp('2012-06-07 00:00:00'),
 Timestamp('2012-06-06 00:00:00'),
 Timestamp('2012-01-24 00:00:00'),
 Timestamp('2012-06-20 00:00:00'),
 Timestamp('2011-12-03 00:00:00'),
 Timestamp('2012-06-06 00:00:00'),
 Timestamp('2012-05-24 00:00:00'),
 Timestamp('2012-05-18 00:00:00'),
 Timestamp('2012-06-17 00:00:00'),
 Timestamp('2012-06-22 00:00:00'),
 Timestamp('2012-05-11 00:00:00'),
 Timestamp('2012-05-11 00:00:00'),
 Timestamp('2012-06-17 00:00:00'),
 Timestamp('2012-06-18 00:00:00'),
 Timestamp('2012-06-27 00:00:00'),
 Timestamp('2012-06-13 00:00:00'),
 Timestamp('2012-06-02 00:00:00'),
 Timestamp('2012-06-02 00:00:00'),
 Timestamp('2012-06-13 00:00:00'),
 Timestamp('2012-06-22 00:00:00'),
 Timestamp('2012-05-18 00:00:00'),
 Timestamp('2012-05-21 00:00:00'),
 Timestamp('2012-05-18 00:00:00'),
 Timestamp('2012-05-18 00:00:00'),
 Timestamp('2012-05-28 00:00:00'),
 Timestamp('2012-06-06 00:00:00'),
 Timestamp('2012-01-18 00:00:00'),
 Timestamp('2012-01-16 00:00:00'),
 Timestamp('2012-05-14 00:00:00'),
 Timestamp('2012-05-28 00:00:00'),
 Timestamp('2012-06-04 00:00:00'),
 Timestamp('2012-06-12 00:00:00'),
 Timestamp('2012-06-13 00:00:00'),
 Timestamp('2012-06-19 00:00:00'),
 Timestamp('2012-05-17 00:00:00'),
 Timestamp('2012-06-16 00:00:00'),
 Timestamp('2015-03-24 00:00:00'),
 Timestamp('2015-03-19 00:00:00'),
 Timestamp('2015-03-22 00:00:00'),
 Timestamp('2015-03-16 00:00:00'),
 Timestamp('2015-03-13 00:00:00'),
 Timestamp('2012-03-15 00:00:00'),
 Timestamp('2015-03-10 00:00:00'),
 Timestamp('2012-05-28 00:00:00'),
 Timestamp('2012-06-04 00:00:00'),
 Timestamp('2012-06-14 00:00:00'),
 Timestamp('2012-06-13 00:00:00'),
 Timestamp('2012-06-15 00:00:00'),
 Timestamp('2012-06-14 00:00:00'),
 Timestamp('2013-01-03 00:00:00'),
 Timestamp('2012-06-04 00:00:00'),
 Timestamp('2012-05-25 00:00:00'),
 Timestamp('2013-01-03 00:00:00'),
 Timestamp('2013-01-08 00:00:00'),
 Timestamp('2013-04-24 00:00:00'),
 Timestamp('2013-01-24 00:00:00'),
 Timestamp('2012-06-19 00:00:00'),
 Timestamp('2014-09-01 00:00:00'),
 Timestamp('2014-09-05 00:00:00'),
 Timestamp('2014-09-01 00:00:00'),
 Timestamp('2012-06-27 00:00:00'),
 Timestamp('2014-09-05 00:00:00'),
 Timestamp('2014-09-01 00:00:00'),
 Timestamp('2012-06-17 00:00:00'),
 Timestamp('2012-06-15 00:00:00'),
 Timestamp('2012-06-17 00:00:00'),
 Timestamp('2012-06-17 00:00:00'),
 Timestamp('2012-06-12 00:00:00'),
 Timestamp('2012-06-15 00:00:00'),
 Timestamp('2012-06-15 00:00:00'),
 Timestamp('2012-06-17 00:00:00'),
 Timestamp('2012-05-24 00:00:00'),
 Timestamp('2012-06-20 00:00:00'),
 Timestamp('2013-11-20 00:00:00'),
 Timestamp('2013-11-20 00:00:00'),
 Timestamp('2013-11-20 00:00:00'),
 Timestamp('2013-10-29 00:00:00'),
 Timestamp('2013-10-10 00:00:00'),
 Timestamp('2012-06-11 00:00:00'),
 Timestamp('2012-06-11 00:00:00'),
 Timestamp('2013-09-26 00:00:00'),
 Timestamp('2013-09-26 00:00:00'),
 Timestamp('2013-09-27 00:00:00'),
 Timestamp('2013-09-27 00:00:00'),
 Timestamp('2013-09-28 00:00:00'),
 Timestamp('2012-06-04 00:00:00'),
 Timestamp('2012-05-24 00:00:00'),
 Timestamp('2012-06-23 00:00:00'),
 Timestamp('2012-06-24 00:00:00'),
 Timestamp('2015-03-18 00:00:00'),
 Timestamp('2012-05-11 00:00:00'),
 Timestamp('2015-01-05 00:00:00'),
 Timestamp('2012-04-24 00:00:00'),
 Timestamp('2015-01-05 00:00:00'),
 Timestamp('2015-01-16 00:00:00'),
 Timestamp('2012-05-24 00:00:00'),
 Timestamp('2012-06-14 00:00:00'),
 Timestamp('2015-01-05 00:00:00'),
 Timestamp('2013-05-27 00:00:00'),
 Timestamp('2013-05-27 00:00:00'),
 Timestamp('2013-05-26 00:00:00'),
 Timestamp('2013-05-26 00:00:00'),
 Timestamp('2013-05-26 00:00:00'),
 Timestamp('2012-04-26 00:00:00'),
 Timestamp('2012-05-06 00:00:00'),
 Timestamp('2012-06-04 00:00:00'),
 Timestamp('2012-05-17 00:00:00'),
 Timestamp('2012-01-22 00:00:00'),
 Timestamp('2012-01-22 00:00:00'),
 Timestamp('2012-06-19 00:00:00'),
 Timestamp('2012-06-07 00:00:00'),
 Timestamp('2012-06-23 00:00:00'),
 Timestamp('2012-06-23 00:00:00'),
 Timestamp('2013-08-05 00:00:00'),
 Timestamp('2013-09-05 00:00:00'),
 Timestamp('2013-11-23 00:00:00'),
 Timestamp('2012-06-17 00:00:00'),
 Timestamp('2012-01-29 00:00:00'),
 Timestamp('2012-04-10 00:00:00'),
 Timestamp('2013-11-30 00:00:00'),
 Timestamp('2012-04-13 00:00:00'),
 Timestamp('2012-01-02 00:00:00'),
 Timestamp('2012-06-17 00:00:00'),
 Timestamp('2012-06-29 00:00:00'),
 Timestamp('2013-12-13 00:00:00'),
 Timestamp('2013-12-15 00:00:00'),
 Timestamp('2013-12-15 00:00:00'),
 Timestamp('2013-10-05 00:00:00'),
 Timestamp('2013-08-16 00:00:00'),
 Timestamp('2013-08-31 00:00:00'),
 Timestamp('2012-02-03 00:00:00'),
 Timestamp('2011-06-16 00:00:00'),
 Timestamp('2012-02-29 00:00:00'),
 Timestamp('2012-01-30 00:00:00'),
 Timestamp('2012-01-18 00:00:00'),
 Timestamp('2012-01-30 00:00:00'),
 Timestamp('2012-06-27 00:00:00'),
 Timestamp('2012-07-03 00:00:00'),
 Timestamp('2012-06-19 00:00:00'),
 Timestamp('2012-06-23 00:00:00'),
 Timestamp('2012-01-18 00:00:00'),
 Timestamp('2012-01-18 00:00:00'),
 Timestamp('2013-08-29 00:00:00'),
 Timestamp('2013-08-29 00:00:00'),
 Timestamp('2012-01-28 00:00:00'),
 Timestamp('2012-06-15 00:00:00'),
 Timestamp('2012-06-15 00:00:00'),
 Timestamp('2012-06-28 00:00:00'),
 Timestamp('2012-06-08 00:00:00'),
 Timestamp('2014-07-25 00:00:00'),
 Timestamp('2014-07-07 00:00:00'),
 Timestamp('2012-05-24 00:00:00'),
 Timestamp('2012-05-11 00:00:00'),
 Timestamp('2012-01-05 00:00:00'),
 Timestamp('2012-05-25 00:00:00'),
 Timestamp('2012-05-25 00:00:00'),
 Timestamp('2012-05-08 00:00:00'),
 Timestamp('2012-05-24 00:00:00'),
 Timestamp('2012-05-14 00:00:00'),
 Timestamp('2012-06-13 00:00:00'),
 Timestamp('2012-05-31 00:00:00'),
 Timestamp('2012-06-06 00:00:00'),
 Timestamp('2012-06-06 00:00:00'),
 Timestamp('2012-05-17 00:00:00'),
 Timestamp('2014-02-22 00:00:00'),
 Timestamp('2014-02-26 00:00:00'),
 Timestamp('2014-02-25 00:00:00'),
 Timestamp('2014-02-26 00:00:00'),
 Timestamp('2012-06-24 00:00:00'),
 Timestamp('2014-07-24 00:00:00'),
 Timestamp('2014-07-28 00:00:00'),
 Timestamp('2014-07-28 00:00:00'),
 Timestamp('2014-07-24 00:00:00'),
 Timestamp('2012-10-19 00:00:00'),
 Timestamp('2012-10-19 00:00:00'),
 Timestamp('2012-10-19 00:00:00'),
 Timestamp('2015-03-17 00:00:00'),
 Timestamp('2012-09-04 00:00:00'),
 Timestamp('2013-08-29 00:00:00'),
 Timestamp('2013-08-29 00:00:00'),
 Timestamp('2013-08-29 00:00:00'),
 Timestamp('2013-08-29 00:00:00'),
 Timestamp('2012-05-26 00:00:00'),
 Timestamp('2012-05-30 00:00:00'),
 Timestamp('2012-03-08 00:00:00'),
 Timestamp('2012-03-08 00:00:00'),
 Timestamp('2012-03-14 00:00:00'),
 Timestamp('2012-05-28 00:00:00'),
 Timestamp('2012-05-25 00:00:00'),
 Timestamp('2013-03-27 00:00:00'),
 Timestamp('2013-04-07 00:00:00'),
 Timestamp('2013-04-06 00:00:00'),
 Timestamp('2013-04-06 00:00:00'),
 Timestamp('2013-04-08 00:00:00'),
 Timestamp('2012-06-04 00:00:00'),
 Timestamp('2012-06-04 00:00:00'),
 Timestamp('2012-06-03 00:00:00'),
 Timestamp('2011-12-01 00:00:00'),
 Timestamp('2012-06-06 00:00:00'),
 Timestamp('2012-06-17 00:00:00'),
 Timestamp('2012-06-27 00:00:00'),
 Timestamp('2012-05-28 00:00:00'),
 Timestamp('2014-12-31 00:00:00'),
 Timestamp('2012-06-27 00:00:00'),
 Timestamp('2014-12-31 00:00:00'),
 Timestamp('2014-12-31 00:00:00'),
 Timestamp('2014-12-31 00:00:00'),
 Timestamp('2014-11-23 00:00:00'),
 Timestamp('2015-01-01 00:00:00'),
 Timestamp('2012-06-17 00:00:00'),
 Timestamp('2012-05-25 00:00:00'),
 Timestamp('2012-06-27 00:00:00'),
 Timestamp('2012-06-06 00:00:00'),
 Timestamp('2012-06-27 00:00:00'),
 Timestamp('2012-06-27 00:00:00'),
 Timestamp('2012-06-27 00:00:00'),
 Timestamp('2012-06-08 00:00:00'),
 Timestamp('2012-06-27 00:00:00'),
 Timestamp('2012-06-16 00:00:00'),