In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn
import csv
% matplotlib inline

In [3]:
# Removed un-needed columns from original dataset, use data
data = pd.read_csv("data.csv")
# replace NaN with "Missing"
data = pd.DataFrame.fillna(data,value="Missing")
data.head()

,FIO_ID,SEX,DIST_ID,PRIORS,CLOTHING,COMPLEXION,FIOFS_TYPE,SEARCH,BASIS,STOP_REASONS,...,SUPERVISOR_ID,OFFICER_ID,OFF_DIST_ID,RACE_ID,FIO_DATE_CORRECTED,AGE_AT_FIO_CORRECTED,TERRORISM,VEH_STATE,VEH_MAKE,FIOFS_REASONS
0,621880,MALE,3,YES,"blk jacket, blk shirt, blue jeans, wht sneakers",Med,IOFS,VP,CONSENT SEARCH,INVESTIGATIVE,...,10132,98656,9999,2,12/10/2013 12:00:00 AM,59,0,MA,NISSAN,DRUGS
1,565177,MALE,1,NO,"GRY. SWEATSHIRT, BLUE JEANS",Med,IO,Missing,REASONABLE SUSPICION,RADIO CALL,...,8949,9765,1,4,05/24/2012 12:00:00 AM,26,0,NO DATA ENTERED,NO DATA ENTERED,DRUGS
2,565340,MALE,5,YES,"GRY SWEATSHIRT, GRY PANTS",Dark,IOF,Missing,Missing,OTHER (SPECIFY),...,11312,83575,16,2,06/04/2012 12:00:00 AM,18,0,NO DATA ENTERED,NO DATA ENTERED,"INVESTIGATE, PERSON"
3,653895,MALE,3,YES,"lime green shirt, blue jeans",Med,IOFS,Missing,Missing,INVESTIGATIVE,...,9375,76146,25,2,06/21/2014 12:00:00 AM,24,0,NO DATA ENTERED,NO DATA ENTERED,ABDW
4,566043,MALE,3,YES,BLU DOWN VEST BLU PANTS,Light,IO,P,REASONABLE SUSPICION,INVESTIGATIVE,...,Missing,107106,3,2,12/02/2011 12:00:00 AM,70,0,MA,SATURN,VAL

In [5]:
encoded_data = pd.get_dummies(data, columns=["SEX","PRIORS","VEH_OCCUPANT","DIST_ID","COMPLEXION","FIOFS_TYPE","SEARCH","BASIS","STOP_REASONS","RACE_ID","VEH_COLOR","VEH_STATE","VEH_MAKE","FIOFS_REASONS","OUTCOME"])
encoded_data.head()
#data = pd.get_dummies(data, columns=["FIOFS_TYPE", "SEARCH", "BASIS", "STOP_REASONS", "RACE_ID"]).head()

,FIO_ID,CLOTHING,VEH_YEAR_NUM,VEH_MODEL,SUPERVISOR_ID,OFFICER_ID,OFF_DIST_ID,FIO_DATE_CORRECTED,AGE_AT_FIO_CORRECTED,TERRORISM,...,FIOFS_REASONS_VANDALISM,FIOFS_REASONS_WARRANT,OUTCOME_F,OUTCOME_FO,OUTCOME_Missing,OUTCOME_O,OUTCOME_S,OUTCOME_SF,OUTCOME_SFO,OUTCOME_SO
0,621880,"blk jacket, blk shirt, blue jeans, wht sneakers",2012,max,10132,98656,9999,12/10/2013 12:00:00 AM,59,0,...,0,0,0,0,0,0,0,0,1,0
1,565177,"GRY. SWEATSHIRT, BLUE JEANS",0,Missing,8949,9765,1,05/24/2012 12:00:00 AM,26,0,...,0,0,1,0,0,0,0,0,0,0
2,565340,"GRY SWEATSHIRT, GRY PANTS",0,Missing,11312,83575,16,06/04/2012 12:00:00 AM,18,0,...,0,0,1,0,0,0,0,0,0,0
3,653895,"lime green shirt, blue jeans",0,Missing,9375,76146,25,06/21/2014 12:00:00 AM,24,0,...,0,0,0,0,0,0,1,0,0,0
4,566043,BLU DOWN VEST BLU PANTS,2001,2DR,Missing,107106,3,12/02/2011 12:00:00 AM,70,0,...,0,0,1,0,0,0,0,0,0,0

In [ ]:
#len(data) = 152230, <150 or 1500
from collections import Counter
z = list(data["FIOFS_REASONS"])
Counter(z)

In [ ]:
v = ["FIOFS_REASONS"]
a = ['209A INTIMIDATION OF WITNESS/VICTIM','209A, A&B','209A, ABDW','209A, ADW','209A, ASSAULT','209A, ASSAULT WITH INTENT TO MURDER', '209A, B&E, (D/T)',
    '209A, B&E, (N/T)','209A, CHILD ABUSE', '209A, CUSTODY DISPUTE','209A, ELDERLY ABUSE','209A, HARASSMENT (TELEPHONE)',
    '209A, LARCENY','209A, MALICIOUS DESTRUCTION PROPERTY','209A, SEARCH WARRANT','209A, STALKING', '209A, THREATS', '209A, VANDALISM', '209A, VERBAL DISPUTE', '209A, VIO. RESTRAINING ORDER','209A, WARRANT']
ab = ['A&B','A&B PO', 'A&B, PUBLIC SERVANT']
alcohol = ['ALCOHOL, MINOR','ALCOHOL, PARK', 'ALCOHOL, PUBLIC DRINKING', 'ALCOHOL, SALE','PUBLIC DRINKING','OUI, ALCOHOL']
assault = ['ASSAULT', 'ASSAULT WITH INTENT TO COMMIT FELONY', 'ASSAULTW/I TO MURDER']
be = ['ATTEMPTED B&E','B&E, MV', 'B&E, NON-RESIDENCE - DAY','B&E, NON-RESIDENCE - NIGHT', 'B&E, RESIDENCE - DAY', 'B&E, RESIDENCE - NIGHT']
city = ['CITY ORDINANCE OTHER,' 'CITY ORDINANCE, NOISE','CITY ORDINANCES, HACKNEY','CITY ORDINANCES, HAWKERS']
disorderly = ['DISORDERLY','DISORDERLY/NOISYHOUSE']
drugs = ['DRUGS, CONSPIRACY','DRUGS, FOUND','DRUGS, INVESTIGATION','DRUGS, OVERDOSE','DRUGS, POSSESSION','DRUGS, SALE','DRUGS, SCHOOL ZONE','DRUGS, TRAFFICKING','OUI, DRUGS']
firearm = ['FIREARM, CARRYING', 'FIREARM, DISCHARGING', 'FIREARM, MACHINE GUN- POSSESSION','FIREARM, POSSESSION', 'FIREARM, SAWED OFF- POSSESSION', 'FIREARM, TURNED IN']
larceny = ['LARCENY OF LEASED OR RENTED PROPERTY', 'LARCENY, BIKE', 'LARCENY, BUILDING', 'LARCENY, CHECK','LARCENY, CREDIT CARD','LARCENY, FARE EVASION','LARCENY, FROM MV','LARCENY, MV',
          'LARCENY, NOTEBOOK COMPUTER', 'LARCENY, OVER','LARCENY, PERSON', 'LARCENY, PREMISES PERSONAL PROPERTY', 'LARCENY, SAFE', 'LARCENY, SCHEME','LARCENY, SHOPLIFTING','LARCENY, UNDER']
mv = ['MV ACCIDENT','MV ACCIDENT, DEPT VEHICLE', 'MV ACCIDENT, INJURY', 'MV ACCIDENT, PED']
prostitution = ['PROSTITUTION, COMMON NIGHT WALKER', 'PROSTITUTION, DERIVING SUPPORT','PROSTITUTION, SEX FOR FEE']
robbery = ['ROBBERY, ARMED COMMERCIAL','ROBBERY, ARMED COMMERCIAL BANK','ROBBERY, ARMED PERSON','ROBBERY, HANDBAG','ROBBERY, OVER 65','ROBBERY, UNARMED COMMERCIAL','ROBBERY, UNARMED PERSON',
          'ROBBERY,ATTEMPT,ARMED COMMERCIAL','ROBBERY,ATTEMPT,ARMED PERSON','ROBBERY,ATTEMPT,UNARMED COMMERCIAL','ROBBERY,ATTEMPT,UNARMED PERSON']
sex = ['SEX-ASSAULT, INCEST','SEX-ASSAULT, INDECENT A&B (14 + )', 'SEX-ASSAULT, INDECENT A&B (UNDER 14)','SEX-ASSAULT, RAPE','SEX-ASSAULT, RAPE & ABUSE, UNDER 16 STATUTORY RAPE', 'SEX-ASSAULT, RAPE (AGGRAVATED)','SEX-ASSAULT, RAPE (ATTEMPT)','SEX-ASSAULT, RAPE OF CHILD BY FORCE','SEX-ASSAULT, SEARCH WARRANT EXECUTED', 'SEX-ASSAULT, UNCONFIRMED OR UNKNOWN']
warrant = ['WARRANT ARREST', 'WARRANTS, RUNAWAY, CHINS,ETC00','WARRANTS, SEARCH', 'ARREST WARRANT EXECUTION']
keep = ['DISTURBANCE','GUNSHOTS','INVESTIGATE, MV','INVESTIGATE, PERSON','INVESTIGATE, PREMISES','INVESTIGATE, PROPERTY','TRESPASSING','VAL','PANHANDLING','AFFRAY','DISPUTE','LOUD PARTY','ABDW','INJURED PERSON','STOLEN MV','THREATS','VANDALISM']
for state in data["FIOFS_REASONS"]:
    if state in a:
        v.append("209A")
    elif state in ab:
        v.append("A&B")
    elif state in alcohol:
        v.append("ALCOHOL")
    elif state in assault:
        v.append("ASSAULT")
    elif state in be:
        v.append("B&E")
    elif state in city:
        v.append("CITY ORDINANCE")
    elif state in disorderly:
        v.append("DISORDERLY")
    elif state in drugs:
        v.append("DRUGS")
    elif state in firearm:
        v.append("FIREARM")
    elif state in larceny:
        v.append("LARCENY")
    elif state in mv:
        v.append("MV ACCIDENT")
    elif state in prostitution:
        v.append("PROSTITUTION")
    elif state in robbery:
        v.append("ROBBERY")
    elif state in sex:
        v.append("SEX-ASSAULT")
    elif state in warrant:
        v.append("WARRANT")
    elif state in keep:
        v.append(state)
    else:
        v.append("OTHER")
v

In [74]:
from shutil import move
from tempfile import NamedTemporaryFile
with open('data1.csv') as csvfile, NamedTemporaryFile("w", dir='.', delete=False) as temp:
    r = csv.reader(csvfile)
    wr = csv.writer(temp, delimiter=',')
    for row, new in zip(r, v):
        wr.writerow(row + [new])
move(temp.name,"data.csv")

In [73]:
delete = ["FIOFS_REASONS"]
with open("data.csv") as infile, open("data1.csv", "wb") as outfile:
    r = csv.DictReader(infile)
    firstrow = next(r)
    fields = r.fieldnames
    w = csv.DictWriter(outfile, [field for field in fields if not field in delete],
                      extrasaction="ignore")
    w.writeheader()
    w.writerow(firstrow)
    for row in r:
        w.writerow(row)

In [34]:
"""
Sample code for adding column
"""
#from shutil import move
#import csv
#from tempfile import NamedTemporaryFile
#with open('data.csv') as csvfile, NamedTemporaryFile("w", dir='.', delete=False) as temp:
#    r = csv.reader(csvfile)
#    wr = csv.writer(temp, delimiter=',')
#    for row, new in zip(r, a):
#        wr.writerow(row + [new])
#move(temp.name, "data.csv")

In [81]:
"""
Sample code for deleting column
"""
#delete = ["VEH_OCCUPANT"]
#with open("data.csv") as infile, open("data1.csv", "wb") as outfile:
#    r = csv.DictReader(infile)
#    firstrow = next(r)
#    fields = r.fieldnames
#    w = csv.DictWriter(outfile, [field for field in fields if not field in delete],
#                      extrasaction="ignore")
#   w.writeheader()
#    w.writerow(firstrow)
#    for row in r:
#        w.writerow(row)

In [183]:
data.dtypes

FIO_ID                  int64
STREET_ID               int64
DIST_ID                 int64
CLOTHING               object
COMPLEXION             object
FIOFS_TYPE             object
SEARCH                 object
BASIS                  object
STOP_REASONS           object
FIOFS_REASONS          object
OUTCOME                object
VEH_STATE              object
VEH_MAKE               object
VEH_YEAR_NUM          float64
VEH_COLOR              object
VEH_MODEL              object
SUPERVISOR_ID         float64
OFFICER_ID              int64
OFF_DIST_ID             int64
ETHNICITY              object
RACE_ID                 int64
FIO_DATE_CORRECTED     object
SEX                     int64
AGE                     int64
VEH_OCCUPANT            int64
PRIORS                  int64
TERRORISM               int64
dtype: object

In [23]:
import time
from datetime import datetime, date, time, timedelta
ts = pd.Series(np.random.rand(len(data["FIO_DATE_CORRECTED"])), index=data["FIO_DATE_CORRECTED"])
# Convert an element to appropriate Timestamp object
pd.to_datetime('12/10/2013 12:00:00 AM')
#2011 - 2015 ~60 months
# 1) practices might have changed over time -> months 1-60 from start of dataset
# 2) season
# pandas delta time from the first one
# http://pandas.pydata.org/pandas-docs/stable/timedeltas.html

Timestamp('2013-12-10 00:00:00')