In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn
% matplotlib inline

In [50]:
# Removed un-needed columns from original dataset, use data
data = pd.read_csv("data.csv")
new.rename(columns={'Sex':'SEX'}, inplace=True)

In [51]:
data.head()

,FIO_ID,STREET_ID,DIST_ID,PRIORS,CLOTHING,COMPLEXION,FIOFS_TYPE,TERRORISM,SEARCH,BASIS,...,VEH_MODEL,VEH_OCCUPANT,SUPERVISOR_ID,OFFICER_ID,OFF_DIST_ID,ETHNICITY,RACE_ID,FIO_DATE_CORRECTED,Sex,AGE
0,621880,3274,3,YES,"blk jacket, blk shirt, blue jeans, wht sneakers",Med,IOFS,NO,VP,CONSENT SEARCH,...,max,DRIVER,10132.0,98656,9999,NaN,2,12/10/2013 12:00:00 AM,0,59
1,565177,543,1,NO,"GRY. SWEATSHIRT, BLUE JEANS",Med,IO,NO,NaN,REASONABLE SUSPICION,...,NaN,NaN,8949.0,9765,1,NaN,4,05/24/2012 12:00:00 AM,0,26
2,565340,4493,5,YES,"GRY SWEATSHIRT, GRY PANTS",Dark,IOF,NO,NaN,NaN,...,NaN,NaN,11312.0,83575,16,NaN,2,06/04/2012 12:00:00 AM,0,18
3,653895,3094,3,YES,"lime green shirt, blue jeans",Med,IOFS,NO,NaN,NaN,...,NaN,NaN,9375.0,76146,25,NaN,2,06/21/2014 12:00:00 AM,0,24
4,566043,4241,3,YES,BLU DOWN VEST BLU PANTS,Light,IO,NO,P,REASONABLE SUSPICION,...,2DR,NaN,NaN,107106,3,NaN,2,12/02/2011 12:00:00 AM,0,70

In [23]:
outcome = data["OUTCOME"]

In [ ]:
"""
TODOs:

Ignore (for now):
-FIO_ID
-Supervisor, officer ID (and officer district ID)

Convert to numbers:
-SEX - DONE (0 = "MALE", 1 = "FEMALE", -1 = "UNKNOWN")
-PRIORS
-COMPLEXION
-FIOFS_TYPE
-TERRORISM
-SEARCH
-BASIS
-STOP_REASONS
-FIOFS_REASONS
-ETHNICITY

One-hot-encode + clean:
-CLOTHING
-VEHICLE
"""

In [11]:
# Convert sex to numbers. 0 for male, 1 for female, -1 for unknown
#new_column = data['SEX']
sex = ['S']
for n in new_column:
    if n == "MALE":
        sex.append(0)
    elif n == "FEMALE":
        sex.append(1)
    elif n == "UNKNOWN":
        sex.append(-1)
    else:
        print n

In [15]:
sex.count(-1)

237

In [22]:
from shutil import move
import csv
from tempfile import NamedTemporaryFile
with open('data.csv') as csvfile, NamedTemporaryFile("w", dir='.', delete=False) as temp:
    r = csv.reader(csvfile)
    wr = csv.writer(temp, delimiter=',')
    for row, new in zip(r, sex):
        wr.writerow(row + [new])
move(temp.name, "data.csv")

In [35]:
data = pd.read_csv("data.csv")

In [37]:
data["AGE_AT_FIO_CORRECTED Sex"]

0         59 0
1         26 0
2         18 0
3         24 0
4         70 0
5         51 0
6         30 0
7         34 0
8         27 0
9         47 0
10        26 0
11        39 0
12        15 0
13        45 0
14        21 0
15        51 0
16        48 0
17        19 0
18        45 0
19        18 0
20        33 1
21        36 0
22        28 0
23        18 0
24        23 0
25        52 0
26        18 0
27        44 0
28        16 0
29        19 0
          ...
152200    18 0
152201    21 0
152202    23 0
152203    45 0
152204    21 1
152205    -1 0
152206    23 0
152207    16 0
152208    19 0
152209    22 0
152210    20 0
152211    19 0
152212    27 0
152213    26 0
152214    25 0
152215    19 0
152216    31 0
152217    36 0
152218    28 0
152219    21 0
152220    51 0
152221    46 0
152222    22 0
152223    43 0
152224    30 0
152225    20 0
152226    24 0
152227    27 0
152228    30 0
152229    20 0
Name: AGE_AT_FIO_CORRECTED Sex, dtype: object

In [25]:
original = pd.read_csv("Boston_Police_Department_FIO.csv")

In [26]:
ages = original["AGE_AT_FIO_CORRECTED"]

In [32]:
a = ["AGE"]
for age in ages:
    a.append(age)

In [33]:
a

['AGE',
 59,
 26,
 18,
 24,
 70,
 51,
 30,
 34,
 27,
 47,
 26,
 39,
 15,
 45,
 21,
 51,
 48,
 19,
 45,
 18,
 33,
 36,
 28,
 18,
 23,
 52,
 18,
 44,
 16,
 19,
 25,
 35,
 23,
 34,
 26,
 20,
 20,
 44,
 30,
 32,
 23,
 25,
 20,
 47,
 53,
 51,
 52,
 27,
 24,
 20,
 51,
 20,
 16,
 16,
 20,
 27,
 54,
 45,
 21,
 16,
 22,
 48,
 76,
 25,
 46,
 39,
 27,
 19,
 22,
 18,
 22,
 17,
 22,
 19,
 20,
 23,
 46,
 73,
 51,
 26,
 33,
 49,
 19,
 24,
 18,
 26,
 20,
 44,
 25,
 41,
 22,
 30,
 26,
 34,
 34,
 59,
 22,
 23,
 20,
 44,
 25,
 20,
 22,
 17,
 16,
 27,
 25,
 52,
 21,
 21,
 27,
 20,
 44,
 31,
 48,
 21,
 27,
 18,
 23,
 24,
 20,
 54,
 24,
 24,
 49,
 32,
 42,
 29,
 27,
 25,
 23,
 24,
 30,
 30,
 24,
 36,
 21,
 29,
 19,
 21,
 22,
 20,
 28,
 28,
 20,
 37,
 36,
 37,
 20,
 15,
 18,
 29,
 27,
 51,
 41,
 39,
 16,
 46,
 18,
 18,
 1,
 32,
 48,
 23,
 22,
 25,
 43,
 20,
 30,
 49,
 23,
 20,
 33,
 16,
 22,
 23,
 20,
 53,
 22,
 29,
 57,
 42,
 -1,
 33,
 36,
 27,
 16,
 21,
 22,
 14,
 29,
 40,
 42,
 30,
 51,
 48,
 36,
 19,
 20,
 25,
 51,
 31,
 23,
 24,
 20,
 14,
 34,
 30,
 23,
 23,
 21,
 37,
 19,
 38,
 39,
 22,
 26,
 38,
 -1,
 23,
 39,
 41,
 36,
 31,
 24,
 19,
 26,
 31,
 24,
 39,
 34,
 28,
 33,
 -1,
 23,
 27,
 45,
 19,
 27,
 22,
 28,
 14,
 57,
 19,
 21,
 29,
 23,
 20,
 43,
 27,
 26,
 35,
 21,
 22,
 27,
 32,
 18,
 22,
 21,
 21,
 15,
 19,
 18,
 15,
 20,
 32,
 30,
 35,
 28,
 17,
 28,
 28,
 30,
 26,
 36,
 39,
 19,
 23,
 32,
 28,
 23,
 20,
 -1,
 26,
 24,
 41,
 21,
 37,
 35,
 -1,
 32,
 22,
 21,
 -1,
 -1,
 27,
 19,
 23,
 24,
 18,
 28,
 30,
 38,
 19,
 20,
 21,
 39,
 22,
 35,
 18,
 48,
 22,
 20,
 23,
 24,
 33,
 36,
 30,
 53,
 36,
 31,
 30,
 22,
 27,
 40,
 34,
 21,
 25,
 15,
 19,
 26,
 19,
 27,
 36,
 22,
 20,
 41,
 31,
 33,
 40,
 22,
 25,
 42,
 62,
 28,
 18,
 22,
 26,
 52,
 33,
 60,
 19,
 18,
 30,
 32,
 52,
 49,
 33,
 32,
 22,
 20,
 20,
 27,
 35,
 38,
 33,
 19,
 40,
 16,
 53,
 18,
 19,
 18,
 24,
 16,
 29,
 20,
 22,
 45,
 35,
 19,
 21,
 23,
 22,
 28,
 27,
 47,
 41,
 45,
 27,
 41,
 31,
 20,
 41,
 28,
 18,
 51,
 42,
 51,
 16,
 23,
 19,
 35,
 24,
 21,
 20,
 30,
 54,
 44,
 46,
 29,
 25,
 33,
 32,
 24,
 45,
 49,
 37,
 54,
 47,
 22,
 21,
 19,
 20,
 18,
 18,
 25,
 34,
 34,
 40,
 20,
 16,
 51,
 -1,
 42,
 20,
 18,
 20,
 25,
 45,
 39,
 28,
 45,
 60,
 46,
 20,
 46,
 12,
 34,
 55,
 45,
 28,
 26,
 17,
 -1,
 43,
 26,
 35,
 49,
 19,
 23,
 35,
 26,
 20,
 12,
 18,
 24,
 14,
 34,
 19,
 26,
 31,
 23,
 27,
 30,
 35,
 21,
 23,
 36,
 24,
 32,
 32,
 35,
 63,
 22,
 20,
 27,
 54,
 19,
 20,
 66,
 63,
 29,
 26,
 17,
 46,
 37,
 32,
 17,
 21,
 18,
 15,
 39,
 30,
 20,
 23,
 43,
 23,
 27,
 55,
 20,
 20,
 69,
 52,
 22,
 51,
 42,
 56,
 40,
 18,
 22,
 50,
 38,
 20,
 23,
 21,
 20,
 24,
 49,
 17,
 23,
 16,
 26,
 23,
 24,
 30,
 31,
 23,
 40,
 43,
 55,
 22,
 22,
 40,
 42,
 18,
 46,
 51,
 41,
 16,
 27,
 32,
 20,
 61,
 38,
 26,
 35,
 22,
 33,
 44,
 42,
 16,
 27,
 21,
 40,
 31,
 27,
 68,
 19,
 66,
 32,
 20,
 27,
 58,
 35,
 21,
 26,
 21,
 -1,
 22,
 47,
 52,
 32,
 24,
 17,
 44,
 22,
 25,
 22,
 47,
 28,
 20,
 13,
 22,
 38,
 21,
 22,
 22,
 24,
 23,
 35,
 14,
 -1,
 41,
 17,
 35,
 23,
 42,
 36,
 20,
 24,
 52,
 32,
 22,
 29,
 49,
 29,
 30,
 40,
 24,
 20,
 51,
 32,
 27,
 19,
 -1,
 25,
 28,
 36,
 23,
 25,
 21,
 20,
 -1,
 26,
 34,
 29,
 24,
 51,
 55,
 54,
 20,
 20,
 38,
 21,
 21,
 34,
 24,
 19,
 25,
 47,
 42,
 44,
 26,
 38,
 34,
 22,
 21,
 31,
 27,
 16,
 32,
 57,
 59,
 32,
 47,
 23,
 23,
 33,
 21,
 38,
 21,
 19,
 53,
 22,
 26,
 23,
 42,
 43,
 32,
 31,
 21,
 36,
 23,
 60,
 22,
 23,
 20,
 19,
 23,
 20,
 27,
 34,
 22,
 56,
 52,
 31,
 31,
 46,
 19,
 33,
 37,
 22,
 20,
 28,
 30,
 28,
 30,
 21,
 19,
 31,
 22,
 17,
 23,
 25,
 32,
 22,
 21,
 35,
 28,
 22,
 20,
 26,
 20,
 20,
 20,
 27,
 54,
 36,
 36,
 39,
 45,
 46,
 52,
 0,
 23,
 34,
 29,
 25,
 -1,
 27,
 45,
 22,
 24,
 28,
 47,
 28,
 22,
 23,
 45,
 17,
 35,
 41,
 15,
 34,
 37,
 23,
 25,
 31,
 51,
 39,
 31,
 45,
 30,
 30,
 24,
 20,
 48,
 25,
 24,
 24,
 20,
 15,
 16,
 32,
 19,
 12,
 16,
 25,
 30,
 25,
 23,
 26,
 19,
 26,
 17,
 18,
 27,
 19,
 21,
 50,
 38,
 30,
 22,
 27,
 23,
 17,
 23,
 25,
 28,
 35,
 20,
 22,
 26,
 22,
 26,
 18,
 34,
 25,
 50,
 23,
 30,
 21,
 25,
 44,
 32,
 28,
 41,
 23,
 36,
 22,
 37,
 17,
 48,
 31,
 22,
 29,
 26,
 53,
 19,
 18,
 27,
 21,
 38,
 20,
 28,
 23,
 25,
 30,
 28,
 21,
 22,
 23,
 25,
 28,
 22,
 22,
 34,
 18,
 29,
 31,
 35,
 36,
 19,
 22,
 18,
 21,
 26,
 34,
 22,
 22,
 23,
 20,
 16,
 25,
 44,
 25,
 22,
 31,
 16,
 20,
 21,
 24,
 18,
 22,
 15,
 28,
 30,
 22,
 18,
 23,
 46,
 25,
 23,
 27,
 22,
 17,
 20,
 17,
 23,
 28,
 23,
 19,
 24,
 22,
 27,
 18,
 19,
 25,
 22,
 23,
 25,
 22,
 32,
 21,
 23,
 20,
 20,
 19,
 26,
 29,
 21,
 48,
 75,
 34,
 21,
 52,
 43,
 24,
 23,
 14,
 19,
 40,
 16,
 33,
 18,
 44,
 -1,
 30,
 33,
 27,
 45,
 23,
 42,
 20,
 34,
 44,
 40,
 39,
 45,
 52,
 52,
 54,
 36,
 47,
 33,
 25,
 25,
 31,
 20,
 27,
 44,
 46,
 31,
 45,
 51,
 62,
 20,
 21,
 46,
 20,
 22,
 30,
 23,
 40,
 60,
 20,
 25,
 38,
 19,
 41,
 26,
 54,
 26,
 19,
 47,
 41,
 19,
 27,
 25,
 23,
 22,
 32,
 20,
 23,
 24,
 40,
 24,
 24,
 24,
 22,
 38,
 20,
 31,
 23,
 35,
 36,
 37,
 36,
 ...]

In [34]:
from shutil import move
import csv
from tempfile import NamedTemporaryFile
with open('data.csv') as csvfile, NamedTemporaryFile("w", dir='.', delete=False) as temp:
    r = csv.reader(csvfile)
    wr = csv.writer(temp, delimiter=',')
    for row, new in zip(r, a):
        wr.writerow(row + [new])
move(temp.name, "data.csv")

In [41]:
delete = ["AGE_AT_FIO_CORRECTED Sex", "SEX"]
with open("data.csv") as infile, open("data1.csv", "wb") as outfile:
    r = csv.DictReader(infile)
    firstrow = next(r)
    fields = r.fieldnames
    w = csv.DictWriter(outfile, [field for field in fields if not field in delete],
                      extrasaction="ignore")
    w.writeheader()
    w.writerow(firstrow)
    for row in r:
        w.writerow(row)

In [42]:
new = pd.read_csv("data1.csv")

In [43]:
new.head()

,FIO_ID,STREET_ID,DIST_ID,PRIORS,CLOTHING,COMPLEXION,FIOFS_TYPE,TERRORISM,SEARCH,BASIS,...,VEH_MODEL,VEH_OCCUPANT,SUPERVISOR_ID,OFFICER_ID,OFF_DIST_ID,ETHNICITY,RACE_ID,FIO_DATE_CORRECTED,Sex,AGE
0,621880,3274,3,YES,"blk jacket, blk shirt, blue jeans, wht sneakers",Med,IOFS,NO,VP,CONSENT SEARCH,...,max,DRIVER,10132.0,98656,9999,NaN,2,12/10/2013 12:00:00 AM,0,59
1,565177,543,1,NO,"GRY. SWEATSHIRT, BLUE JEANS",Med,IO,NO,NaN,REASONABLE SUSPICION,...,NaN,NaN,8949.0,9765,1,NaN,4,05/24/2012 12:00:00 AM,0,26
2,565340,4493,5,YES,"GRY SWEATSHIRT, GRY PANTS",Dark,IOF,NO,NaN,NaN,...,NaN,NaN,11312.0,83575,16,NaN,2,06/04/2012 12:00:00 AM,0,18
3,653895,3094,3,YES,"lime green shirt, blue jeans",Med,IOFS,NO,NaN,NaN,...,NaN,NaN,9375.0,76146,25,NaN,2,06/21/2014 12:00:00 AM,0,24
4,566043,4241,3,YES,BLU DOWN VEST BLU PANTS,Light,IO,NO,P,REASONABLE SUSPICION,...,2DR,NaN,NaN,107106,3,NaN,2,12/02/2011 12:00:00 AM,0,70

In [44]:
new.rename(columns={'Sex':'SEX'}, inplace=True)

In [45]:
new.head()

,FIO_ID,STREET_ID,DIST_ID,PRIORS,CLOTHING,COMPLEXION,FIOFS_TYPE,TERRORISM,SEARCH,BASIS,...,VEH_MODEL,VEH_OCCUPANT,SUPERVISOR_ID,OFFICER_ID,OFF_DIST_ID,ETHNICITY,RACE_ID,FIO_DATE_CORRECTED,SEX,AGE
0,621880,3274,3,YES,"blk jacket, blk shirt, blue jeans, wht sneakers",Med,IOFS,NO,VP,CONSENT SEARCH,...,max,DRIVER,10132.0,98656,9999,NaN,2,12/10/2013 12:00:00 AM,0,59
1,565177,543,1,NO,"GRY. SWEATSHIRT, BLUE JEANS",Med,IO,NO,NaN,REASONABLE SUSPICION,...,NaN,NaN,8949.0,9765,1,NaN,4,05/24/2012 12:00:00 AM,0,26
2,565340,4493,5,YES,"GRY SWEATSHIRT, GRY PANTS",Dark,IOF,NO,NaN,NaN,...,NaN,NaN,11312.0,83575,16,NaN,2,06/04/2012 12:00:00 AM,0,18
3,653895,3094,3,YES,"lime green shirt, blue jeans",Med,IOFS,NO,NaN,NaN,...,NaN,NaN,9375.0,76146,25,NaN,2,06/21/2014 12:00:00 AM,0,24
4,566043,4241,3,YES,BLU DOWN VEST BLU PANTS,Light,IO,NO,P,REASONABLE SUSPICION,...,2DR,NaN,NaN,107106,3,NaN,2,12/02/2011 12:00:00 AM,0,70