In [55]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn
% matplotlib inline

In [261]:
# Removed un-needed columns from original dataset, use data
data = pd.read_csv("data.csv")

In [262]:
data.head()

,FIO_ID,DIST_ID,CLOTHING,COMPLEXION,FIOFS_TYPE,SEARCH,BASIS,STOP_REASONS,FIOFS_REASONS,OUTCOME,...,SUPERVISOR_ID,OFFICER_ID,OFF_DIST_ID,RACE_ID,FIO_DATE_CORRECTED,SEX,AGE,VEH_OCCUPANT,PRIORS,TERRORISM
0,621880,3,"blk jacket, blk shirt, blue jeans, wht sneakers",Med,IOFS,VP,CONSENT SEARCH,INVESTIGATIVE,"DRUGS, INVESTIGATION",SFO,...,10132.0,98656,9999,2,12/10/2013 12:00:00 AM,0,59,0,1,0
1,565177,1,"GRY. SWEATSHIRT, BLUE JEANS",Med,IO,NaN,REASONABLE SUSPICION,RADIO CALL,"DRUGS, POSSESSION",F,...,8949.0,9765,1,4,05/24/2012 12:00:00 AM,0,26,-1,0,0
2,565340,5,"GRY SWEATSHIRT, GRY PANTS",Dark,IOF,NaN,NaN,OTHER (SPECIFY),"INVESTIGATE, PERSON",F,...,11312.0,83575,16,2,06/04/2012 12:00:00 AM,0,18,-1,1,0
3,653895,3,"lime green shirt, blue jeans",Med,IOFS,NaN,NaN,INVESTIGATIVE,ABDW,S,...,9375.0,76146,25,2,06/21/2014 12:00:00 AM,0,24,-1,1,0
4,566043,3,BLU DOWN VEST BLU PANTS,Light,IO,P,REASONABLE SUSPICION,INVESTIGATIVE,VAL,F,...,NaN,107106,3,2,12/02/2011 12:00:00 AM,0,70,-1,1,0

In [23]:
outcome = data["OUTCOME"]

In [ ]:
"""
TODOs:

Ignore (for now):
-FIO_ID
-Supervisor, officer ID (and officer district ID)

Convert to numbers:
-SEX - DONE (0 = "MALE", 1 = "FEMALE", -1 = "UNKNOWN")
-PRIORS - DONE (0 = "NO", 1 = "YES", -1 = "UNKNOWN" or NaN)
-VEH_OCCUPANT - DONE (0 = "DRIVER", 1 = "PASSENGER", -1 = NaN)
-TERRORISM - DONE (0 = "NO", 1 = "YES", -1 = "UNKNOWN" or NaN)
-AGE - DONE/AS-IS
-VEH_YEAR_NUM - NORMALIZE

One-hot-encode + clean:
-CLOTHING

-DIST_ID
--24 classes:
{1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 19,
 20,
 21,
 22,
 23,
 25,
 9999}

-COMPLEXION
--10 classes: 
{'Brown', 3364
 'Clear', 30
 'Dark', 27969
 'Fair', 1749
 'Light', 32574
 'Med', 60594
 'NO DATA ENTERED', 22886
 'OTHER', 2436
 'Ruddy', 99
 'White' 529}
 
-FIOFS_TYPE - DONE
--26 classes:
{'F',
 'FS',
 'I',
 'IF',
 'IFS',
 'IO',
 'IOF',
 'IOFS',
 'IOS',
 'IS',
 'O',
 'OF',
 'OFS',
 'OS',
 'P',
 'PF',
 'PI',
 'PIF',
 'PIO',
 'PIOF',
 'PIOFS',
 'PIOS',
 'PIS',
 'PO',
 'POF',
 'S'}

-SEARCH - DONE
--4 classes: {nan, 'P', 'V', 'VP'}

-BASIS - DONE
--4 classes: {nan, 'CONSENT SEARCH', 'PROBABLE CAUSE', 'REASONABLE SUSPICION'}

-STOP_REASONS - DONE
--7 classes:
{nan,
 'CITIZEN ASSIST',
 'CRIMINAL VIOLATION',
 'INVESTIGATIVE',
 'MOTOR VEHICLE VIOLATION',
 'OTHER (SPECIFY)',
 'RADIO CALL'}
 
-FIOFS_REASONS
--222 classes

-OUTCOME
--8 classes: {nan, 'F', 'FO', 'O', 'S', 'SF', 'SFO', 'SO'}

-VEH_STATE
--48 classes...

-VEH_MAKE
--48 classes...

-VEH_COLOR
--17 classes...

-RACE_ID
--8 classes: {0 (6073), 1 (1301), 2 (89219), 3 (19891), 4 (34641), 5 (69), 6 (462), 9999 (574)}
"""

In [266]:
pd.get_dummies(data, columns=["VEH_COLOR"]).head()
#data = pd.get_dummies(data, columns=["FIOFS_TYPE", "SEARCH", "BASIS", "STOP_REASONS", "RACE_ID"]).head()

,FIO_ID,DIST_ID,CLOTHING,COMPLEXION,FIOFS_REASONS,OUTCOME,VEH_STATE,VEH_MAKE,VEH_YEAR_NUM,VEH_MODEL,...,RACE_ID_1,RACE_ID_2,RACE_ID_3,RACE_ID_4,RACE_ID_5,RACE_ID_6,RACE_ID_9999,VEH_COLOR_NO DATA ENTERED,VEH_COLOR_RED,VEH_COLOR_SILVER
0,621880,3,"blk jacket, blk shirt, blue jeans, wht sneakers",Med,"DRUGS, INVESTIGATION",SFO,MA,NISSAN,2012.0,max,...,0,1,0,0,0,0,0,0,0,1
1,565177,1,"GRY. SWEATSHIRT, BLUE JEANS",Med,"DRUGS, POSSESSION",F,NO DATA ENTERED,NO DATA ENTERED,0.0,NaN,...,0,0,0,1,0,0,0,1,0,0
2,565340,5,"GRY SWEATSHIRT, GRY PANTS",Dark,"INVESTIGATE, PERSON",F,NO DATA ENTERED,NO DATA ENTERED,0.0,NaN,...,0,1,0,0,0,0,0,1,0,0
3,653895,3,"lime green shirt, blue jeans",Med,ABDW,S,NO DATA ENTERED,NO DATA ENTERED,0.0,NaN,...,0,1,0,0,0,0,0,1,0,0
4,566043,3,BLU DOWN VEST BLU PANTS,Light,VAL,F,MA,SATURN,2001.0,2DR,...,0,1,0,0,0,0,0,0,1,0

In [264]:
list(data)

['FIO_ID',
 'DIST_ID',
 'CLOTHING',
 'COMPLEXION',
 'FIOFS_REASONS',
 'OUTCOME',
 'VEH_STATE',
 'VEH_MAKE',
 'VEH_YEAR_NUM',
 'VEH_COLOR',
 'VEH_MODEL',
 'SUPERVISOR_ID',
 'OFFICER_ID',
 'OFF_DIST_ID',
 'FIO_DATE_CORRECTED',
 'SEX',
 'AGE',
 'VEH_OCCUPANT',
 'PRIORS',
 'TERRORISM',
 'FIOFS_TYPE_F',
 'FIOFS_TYPE_FS',
 'FIOFS_TYPE_I',
 'FIOFS_TYPE_IF',
 'FIOFS_TYPE_IFS',
 'FIOFS_TYPE_IO',
 'FIOFS_TYPE_IOF',
 'FIOFS_TYPE_IOFS',
 'FIOFS_TYPE_IOS',
 'FIOFS_TYPE_IS',
 'FIOFS_TYPE_O',
 'FIOFS_TYPE_OF',
 'FIOFS_TYPE_OFS',
 'FIOFS_TYPE_OS',
 'FIOFS_TYPE_P',
 'FIOFS_TYPE_PF',
 'FIOFS_TYPE_PI',
 'FIOFS_TYPE_PIF',
 'FIOFS_TYPE_PIO',
 'FIOFS_TYPE_PIOF',
 'FIOFS_TYPE_PIOFS',
 'FIOFS_TYPE_PIOS',
 'FIOFS_TYPE_PIS',
 'FIOFS_TYPE_PO',
 'FIOFS_TYPE_POF',
 'FIOFS_TYPE_S',
 'SEARCH_P',
 'SEARCH_V',
 'SEARCH_VP',
 'BASIS_CONSENT SEARCH',
 'BASIS_PROBABLE CAUSE',
 'BASIS_REASONABLE SUSPICION',
 'STOP_REASONS_CITIZEN ASSIST',
 'STOP_REASONS_CRIMINAL VIOLATION',
 'STOP_REASONS_INVESTIGATIVE',
 'STOP_REASONS_MOTOR VEHICLE VIOLATION',
 'STOP_REASONS_OTHER (SPECIFY)',
 'STOP_REASONS_RADIO CALL',
 'RACE_ID_0',
 'RACE_ID_1',
 'RACE_ID_2',
 'RACE_ID_3',
 'RACE_ID_4',
 'RACE_ID_5',
 'RACE_ID_6',
 'RACE_ID_9999']

In [242]:
#len(data) = 152230, <150 or 1500
"""{'Brown', 3364
 'Clear', 30
 'Dark', 27969
 'Fair', 1749
 'Light', 32574
 'Med', 60594
 'NO DATA ENTERED', 22886
 'OTHER', 2436
 'Ruddy', 99
 'White' 529}"""
from collections import Counter
z = list(data["VEH_STATE"])
Counter(z)

Counter({'Alabama': 29,
         'Alaska': 3,
         'Arizona': 44,
         'Arkansas': 2,
         'California': 24,
         'Colorado': 10,
         'Connecticut': 206,
         'Delaware': 7,
         'Florida': 263,
         'Georgia': 58,
         'Hawaii': 1,
         'Idaho': 2,
         'Illinois': 43,
         'Indiana': 19,
         'Iowa': 2,
         'Kansas': 1,
         'Kentucky': 10,
         'Louisiana': 19,
         'MA': 38708,
         'Maine': 220,
         'Maryland': 103,
         'Michigan': 42,
         'Minnesota': 7,
         'Missouri': 7,
         'Montana': 15,
         'NO DATA ENTERED': 99299,
         'Nebraska': 28,
         'Nevada': 14,
         'New Hampshire': 496,
         'New Jersey': 198,
         'New Mexico': 2,
         'New York': 443,
         'North Carolina': 46,
         'OTHER': 10901,
         'Ohio': 65,
         'Oklahoma': 15,
         'Oregon': 21,
         'Pennsylvania': 191,
         'Rhode Island': 343,
         'South Carolina': 30,
         'Tennessee': 51,
         'Texas': 31,
         'Utah': 1,
         'Vermont': 51,
         'Virginia': 146,
         'Washington': 5,
         'Wisconsin': 7,
         'Wyoming': 1})

In [25]:
original = pd.read_csv("Boston_Police_Department_FIO.csv")

In [34]:
"""
Sample code for adding column
"""
#from shutil import move
#import csv
#from tempfile import NamedTemporaryFile
#with open('data.csv') as csvfile, NamedTemporaryFile("w", dir='.', delete=False) as temp:
#    r = csv.reader(csvfile)
#    wr = csv.writer(temp, delimiter=',')
#    for row, new in zip(r, a):
#        wr.writerow(row + [new])
#move(temp.name, "data.csv")

In [81]:
"""
Sample code for deleting column
"""
#delete = ["VEH_OCCUPANT"]
#with open("data.csv") as infile, open("data1.csv", "wb") as outfile:
#    r = csv.DictReader(infile)
#    firstrow = next(r)
#    fields = r.fieldnames
#    w = csv.DictWriter(outfile, [field for field in fields if not field in delete],
#                      extrasaction="ignore")
#   w.writeheader()
#    w.writerow(firstrow)
#    for row in r:
#        w.writerow(row)

In [183]:
data.dtypes

FIO_ID                  int64
STREET_ID               int64
DIST_ID                 int64
CLOTHING               object
COMPLEXION             object
FIOFS_TYPE             object
SEARCH                 object
BASIS                  object
STOP_REASONS           object
FIOFS_REASONS          object
OUTCOME                object
VEH_STATE              object
VEH_MAKE               object
VEH_YEAR_NUM          float64
VEH_COLOR              object
VEH_MODEL              object
SUPERVISOR_ID         float64
OFFICER_ID              int64
OFF_DIST_ID             int64
ETHNICITY              object
RACE_ID                 int64
FIO_DATE_CORRECTED     object
SEX                     int64
AGE                     int64
VEH_OCCUPANT            int64
PRIORS                  int64
TERRORISM               int64
dtype: object

In [216]:
ts = pd.Series(np.random.rand(len(data["FIO_DATE_CORRECTED"])), index=data["FIO_DATE_CORRECTED"])
ts.head()

FIO_DATE_CORRECTED
12/10/2013 12:00:00 AM    0.883375
05/24/2012 12:00:00 AM    0.032518
06/04/2012 12:00:00 AM    0.197965
06/21/2014 12:00:00 AM    0.146686
12/02/2011 12:00:00 AM    0.601565
dtype: float64

In [161]:
data.head()

,FIO_ID,STREET_ID,DIST_ID,CLOTHING,FIOFS_TYPE,SEARCH,BASIS,STOP_REASONS,FIOFS_REASONS,OUTCOME,...,COMPLEXION_Brown,COMPLEXION_Clear,COMPLEXION_Dark,COMPLEXION_Fair,COMPLEXION_Light,COMPLEXION_Med,COMPLEXION_NO DATA ENTERED,COMPLEXION_OTHER,COMPLEXION_Ruddy,COMPLEXION_White
0,621880,3274,3,"blk jacket, blk shirt, blue jeans, wht sneakers",IOFS,VP,CONSENT SEARCH,INVESTIGATIVE,"DRUGS, INVESTIGATION",SFO,...,0,0,0,0,0,1,0,0,0,0
1,565177,543,1,"GRY. SWEATSHIRT, BLUE JEANS",IO,NaN,REASONABLE SUSPICION,RADIO CALL,"DRUGS, POSSESSION",F,...,0,0,0,0,0,1,0,0,0,0
2,565340,4493,5,"GRY SWEATSHIRT, GRY PANTS",IOF,NaN,NaN,OTHER (SPECIFY),"INVESTIGATE, PERSON",F,...,0,0,1,0,0,0,0,0,0,0
3,653895,3094,3,"lime green shirt, blue jeans",IOFS,NaN,NaN,INVESTIGATIVE,ABDW,S,...,0,0,0,0,0,1,0,0,0,0
4,566043,4241,3,BLU DOWN VEST BLU PANTS,IO,P,REASONABLE SUSPICION,INVESTIGATIVE,VAL,F,...,0,0,0,0,1,0,0,0,0,0

In [118]:
t = ["TERRORISM"]
for d in data["TERRORISM"]:
    if d == "YES":
        t.append(1)
    elif d == "NO":
        t.append(0)
    else:
        t.append(-1)

In [206]:
delete = ["STREET_ID"]
with open("data.csv") as infile, open("data1.csv", "wb") as outfile:
    r = csv.DictReader(infile)
    firstrow = next(r)
    fields = r.fieldnames
    w = csv.DictWriter(outfile, [field for field in fields if not field in delete],
                      extrasaction="ignore")
    w.writeheader()
    w.writerow(firstrow)
    for row in r:
        w.writerow(row)

In [207]:
from shutil import move
import csv
from tempfile import NamedTemporaryFile
with open('data1.csv') as csvfile, NamedTemporaryFile("w", dir='.', delete=False) as temp:
    r = csv.reader(csvfile)
    wr = csv.writer(temp, delimiter=',')
    for row, new in zip(r, t):
        #wr.writerow(row + [new])
        wr.writerow(row)
move(temp.name, "data.csv")

In [208]:
data = pd.read_csv("data.csv")

In [209]:
data.head()

,FIO_ID,DIST_ID,CLOTHING,COMPLEXION,FIOFS_TYPE,SEARCH,BASIS,STOP_REASONS,FIOFS_REASONS,OUTCOME,...,SUPERVISOR_ID,OFFICER_ID,OFF_DIST_ID,RACE_ID,FIO_DATE_CORRECTED,SEX,AGE,VEH_OCCUPANT,PRIORS,TERRORISM
0,621880,3,"blk jacket, blk shirt, blue jeans, wht sneakers",Med,IOFS,VP,CONSENT SEARCH,INVESTIGATIVE,"DRUGS, INVESTIGATION",SFO,...,10132.0,98656,9999,2,12/10/2013 12:00:00 AM,0,59,0,1,0
1,565177,1,"GRY. SWEATSHIRT, BLUE JEANS",Med,IO,NaN,REASONABLE SUSPICION,RADIO CALL,"DRUGS, POSSESSION",F,...,8949.0,9765,1,4,05/24/2012 12:00:00 AM,0,26,-1,0,0
2,565340,5,"GRY SWEATSHIRT, GRY PANTS",Dark,IOF,NaN,NaN,OTHER (SPECIFY),"INVESTIGATE, PERSON",F,...,11312.0,83575,16,2,06/04/2012 12:00:00 AM,0,18,-1,1,0
3,653895,3,"lime green shirt, blue jeans",Med,IOFS,NaN,NaN,INVESTIGATIVE,ABDW,S,...,9375.0,76146,25,2,06/21/2014 12:00:00 AM,0,24,-1,1,0
4,566043,3,BLU DOWN VEST BLU PANTS,Light,IO,P,REASONABLE SUSPICION,INVESTIGATIVE,VAL,F,...,NaN,107106,3,2,12/02/2011 12:00:00 AM,0,70,-1,1,0