In [14]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn
% matplotlib inline

In [20]:
# Removed un-needed columns from original dataset, use data
data = pd.read_csv("data.csv")

In [21]:
data.head()

,FIO_ID,SEX,STREET_ID,DIST_ID,PRIORS,CLOTHING,COMPLEXION,FIOFS_TYPE,TERRORISM,SEARCH,...,VEH_COLOR,VEH_MODEL,VEH_OCCUPANT,SUPERVISOR_ID,OFFICER_ID,OFF_DIST_ID,ETHNICITY,RACE_ID,FIO_DATE_CORRECTED,AGE_AT_FIO_CORRECTED
0,621880,MALE,3274,3,YES,"blk jacket, blk shirt, blue jeans, wht sneakers",Med,IOFS,NO,VP,...,SILVER,max,DRIVER,10132.0,98656,9999,NaN,2,12/10/2013 12:00:00 AM,59
1,565177,MALE,543,1,NO,"GRY. SWEATSHIRT, BLUE JEANS",Med,IO,NO,NaN,...,NO DATA ENTERED,NaN,NaN,8949.0,9765,1,NaN,4,05/24/2012 12:00:00 AM,26
2,565340,MALE,4493,5,YES,"GRY SWEATSHIRT, GRY PANTS",Dark,IOF,NO,NaN,...,NO DATA ENTERED,NaN,NaN,11312.0,83575,16,NaN,2,06/04/2012 12:00:00 AM,18
3,653895,MALE,3094,3,YES,"lime green shirt, blue jeans",Med,IOFS,NO,NaN,...,NO DATA ENTERED,NaN,NaN,9375.0,76146,25,NaN,2,06/21/2014 12:00:00 AM,24
4,566043,MALE,4241,3,YES,BLU DOWN VEST BLU PANTS,Light,IO,NO,P,...,RED,2DR,NaN,NaN,107106,3,NaN,2,12/02/2011 12:00:00 AM,70

In [23]:
outcome = data["OUTCOME"]

In [ ]:
"""
TODOs:

Ignore (for now):
-FIO_ID
-Supervisor, officer ID (and officer district ID)

Convert to numbers:
-SEX
-PRIORS
-COMPLEXION
-FIOFS_TYPE
-TERRORISM
-SEARCH
-BASIS
-STOP_REASONS
-FIOFS_REASONS
-ETHNICITY

One-hot-encode + clean:
-CLOTHING
-VEHICLE
"""